@media screen and (max-width: 1200px){
	section#main{
		width: 100%;
		div.container{
			width: 100%;
			max-width: 100%;
		}
	}
	section.content{
		div.container-fluid{
			>div.row{
				div.show-main{
					>div.row{
						div.show-card{
							>div.row{
								div.card{
									max-width: 45%;
								}
							}
						}
					}
				}
			}
		}
	}
}