/*color background*/
$bg-color-1 : #66635B;
$bg-color-2 : #B4C292;
$bg-color-3 : #4C5760;
$bg-color-4 : #DCEDFF;
$bg-color-5 : #368F8B;
/*color text*/
$text-white : #FFFFFF;
/*font*/
$font-text-logo :'Rock Salt', cursive;


body, html{
	width: 100%;
	height: 100%;
	background-color: $bg-color-1;
}
body.overHidden, html.overHidden{
	overflow:hidden;
}
header.container-fluid{
	height: 90px;
	background-color: $bg-color-1;
	>div.row{	height: 100%;
		div.text-logo{
			h1{
				display: inline-block;
				margin-bottom: 0;
				margin-left: 80px;
				line-height: 90px;
				color: $bg-color-4;
				font-family: $font-text-logo;
				font-size: 35px;
				font-weight: 900;
				-webkit-transition: 0.6s;
				-o-transition: 0.6s;
				transition: 0.6s
				
			}
	} /*end css div text-logo*/
			div.contact{
				display: table;
				height: 100%;

				ul{
					display: table-cell;
					vertical-align: middle;
					li{ 	margin-right: 10px;
						a{
							font-size: 26px;
							color: $bg-color-2;
							cursor: pointer;
							text-decoration: none;
						}
						a:hover{
							color: $bg-color-4;
							text-shadow: 0px 0px 20px $bg-color-4;
						}
					}
				}
			}
		}
} /* end css header*/
section#main{
			width: 100%;
			padding: 50px 0;
			background-color: $bg-color-3;
			div.container.nav{	padding: 0 0;
				>div.row{
					height: 100%;
					width: 100%;
					div.image{
						position: relative;
						min-height: 300px;
						img.coffee{
							max-width: 100px;
							position: absolute;
							z-index: 3;
							top: 64%;
							left: 67%;
							-webkit-transition: 0.6s;
							-o-transition: 0.6s;
							transition: 0.6s;
							
							}
						img.laptop{
							max-width: 300px;
							position: absolute;	
							z-index: 1;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%,-50%);
							    -ms-transform: translate(-50%,-50%);
							        transform: translate(-50%,-50%);
							-webkit-transition: 0.6s;
							-o-transition: 0.6s;
							transition: 0.6s;
							}
						}/*end div.image*/
						div.main-content{
							>div.row{
								div.content-title{
									position: relative;
									margin-bottom: 20px;
									border-radius: 50%;
									height: 70px;

									h3{
										display: inline-block;
										margin-bottom: 0;
										line-height: 70px;
										font-size: 20px;
										color: $bg-color-4;
										text-shadow: 0 0 10px $bg-color-4;
										text-transform: uppercase;
									}
									span{
										display: inline-block;
										line-height: 70px;
										font-size: 20px;
										color: $bg-color-4;
									}
								}
								div.content-title::after{
									display: block;
									content: "";
									width: 100%;
									height: 100%;
									position: absolute;
									opacity: 0.5;
									top: 0;
									left: 0;
									border-radius: 50%;
									-webkit-box-shadow: 0 3px 10px black;
									        box-shadow: 0 3px 10px black;
									clip: rect(70px, 600px, 87.6px, 160px);


								}
								div.content-nav{
									nav{
										ul{
											li{
												width: 144px;
												height: 144px;
												border-radius: 50%;
												border: 1px dashed $bg-color-2;
												cursor: pointer;

												i{
													font-size: 50px;
													padding: 30px 0;
													color: $bg-color-2;
													-webkit-transition: 0.6s;
													-o-transition: 0.6s;
													transition: 0.6s;
												}
												span{
													position: relative;
													line-height: 30px;
													display: block;
													background: #649173;
													background: -webkit-gradient(linear, left top, right top, from(#66635B), to(#B4C292));
													background: -webkit-linear-gradient(left, #66635B, #B4C292);
													background: -o-linear-gradient(left, #66635B, #B4C292);
													background: linear-gradient(to right, #66635B, #B4C292);
													border-radius: 10px;
													color: $bg-color-2;
													-webkit-transition: 0.6s;
													-o-transition: 0.6s;
													transition: 0.6s;
													text-shadow: 0 0 2px black;

												}

											}
											li:not(:last-child){	margin-right: 35px;}
											li:hover{	background-color: #3a434b;
												i{
													color:$bg-color-4;
													text-shadow: 0 0 25px $bg-color-4;
												}
												span{
													color:$bg-color-4;
													text-shadow: 0 0 5px $bg-color-4;
												}

											}
										}
									}

								}
								}/*end row*/
								}/*end div.main-content*/
								} /*end row*/
								} /*end div container nav*/
}
/*end css section main*/
footer.container{
	width: 100%;
	padding: 20px 0;
	p{
		text-transform: uppercase;
		color: $bg-color-2;
	}
}
/*end css footer*/
section.content{
 	width: 100%;
 	height: 100%;
 	background-color: $bg-color-3;
 	position: fixed;
 	top: 0px;
 	left: 0;
 	overflow: hidden;
 	opacity: 0;
 	visibility: hidden;
 	-webkit-transform: scale(2);
 	    -ms-transform: scale(2);
 	        transform: scale(2);
 	-webkit-transition: 0.2s;
 	-o-transition: 0.2s;
 	transition: 0.2s;
 	z-index: 10;
 	/*css for card*/
 	div.container-fluid{
 		width: 100%;
 		height: 100%;
 		overflow-y: scroll;
		
		>div.row#aboutme{
			padding-top: 20px;
			>div{
				.title-info{
					padding: 0 15px;
					h2{
						width: 100%;
						line-height: 100px;
						color: $bg-color-5;
						border-bottom: 1px solid $bg-color-5;
					} 
				}
				.basic-info{
					padding: 20px 0;
					.img{
						width: 100%;
						padding: 0;
						img{
							display: inline-block;
							width: 200px;
							height: 200px;
							border-radius: 50%;
						}
					}
					.text{
						height: 200px;
						display: table;
						>div{
							display: table-cell;
							vertical-align: middle;
							div{
								font-size: 20px;
							color: $bg-color-4;
								i{
									padding-right: 10px;				
								}
							}
						}
					}
				}
				.target-info{
					padding: 20px 0;
					div{
						margin-top: 20px;
						p{
							font-size: 18px;
							color: $bg-color-4;
						}
						p:before{
							content: '';
							display: block;
							width: 50%;
							height: 1px;
							background-color: $bg-color-5;
							margin: 0 auto 10px;
						}
						p:after{
							content: '';
							display: block;
							width: 50%;
							height: 1px;
							background-color: $bg-color-5;
							margin: 10px auto 0;
						}
					}
				}
				.timeline-info{
					position: relative;
					margin: 20px 0;
					div.time-line{
						width: 100%;
						height: 100%;
						div.line{
						width: 20px;
						height: 100%;
						background-color: $bg-color-5;
						z-index: -1;
						position: absolute;
						top: 0;
						left: 50%;
						-webkit-transform: translateX(-50%);
						    -ms-transform: translateX(-50%);
						        transform: translateX(-50%);
						}
						div.line:after{
							content: "";
							border: 10px solid #00000000;
							border-bottom: 10px solid $bg-color-5;
							position: absolute;
							top: -20px;
							left: 0;
						}
						div.time{
							
							ul{
								li{
								z-index: 11;
								position: static;
								display: block;
								max-width:70px;
								padding: 23px 0;
								margin: 0 auto;
								
									h6{
										line-height: 35px;
										background-color: $bg-color-5;
										margin: 0;
										border-radius: 5px;
										color: $bg-color-2;
									}
								}
							}
							
						}
					}
					div.events{
						height: 100%;
						position: absolute;
						top: 0;
						left: 50%;
						-webkit-transform: translateX(-50%);
						    -ms-transform: translateX(-50%);
						        transform: translateX(-50%);
						ul{
							li{
								height: 80px;
								width: 300px;
								padding: 5px 10px;
								background-color: $bg-color-1;
								border-radius: 5px;
								position: relative;
								color: $bg-color-4;
		
							}
							li:nth-child(even){
								margin-left: 400px;
								&:before{
								content:"";
								display: block;
								position: absolute;
								border: 10px solid #00000000;
								border-right: 10px solid $bg-color-1;
								top: 50%;
								left: -20px;
								-webkit-transform: translateY(-50%);
								    -ms-transform: translateY(-50%);
								        transform: translateY(-50%);
								}
							}
							li:nth-child(odd){
								&:before{
								content:"";
								display: block;
								position: absolute;
								border: 10px solid #00000000;
								border-left: 10px solid $bg-color-1;
								top: 50%;
								right: -20px;
								-webkit-transform: translateY(-50%);
								    -ms-transform: translateY(-50%);
								        transform: translateY(-50%);
								}
							}
						}
					}
					div.events-mobile{
						display: none;
					}
				}
			}

		} /*end row about me*/


		>div.row#myskill{
			padding: 50px 0;
			>div{
				.skill-title{
					padding: 0 15px;
					h2{
						width: 100%;
						line-height: 100px;
						color: $bg-color-5;
						border-bottom: 1px solid $bg-color-5;
					} 
				}
				.skill-content{
					ul{
						margin: 20px auto 0;
						width: 100%;
						li{
							width: 80%;
							margin: 0 auto;
							padding: 10px 0;
							h4{
								height: 50px;
								line-height: 50px;
								color: $bg-color-4;
								margin-bottom: 0;
								font-size: 1rem;
							}
							>div{
								width: 100%;
								position: relative;
								padding: 0;
								>div{
								max-width: 100%;
								height: 20px;
								padding:  0;
								margin: 15px 0;
								}
								.toastr{
									position: absolute;
									top: -15px;
									-webkit-transform: translateX(-50%);
									    -ms-transform: translateX(-50%);
									        transform: translateX(-50%);
									background-color: $bg-color-5;
									z-index: 20;
									line-height: 20px;
									padding: 0 5px;
									margin: 0;
									border-radius: 5px;
									color: $bg-color-4;
									&:after{
										content: "";
										border: 8px solid #00000000;
										border-top: 8px solid $bg-color-5;
										position: absolute;
										bottom: -16px;
										left: 50%;
										-webkit-transform: translateX(-50%);
										    -ms-transform: translateX(-50%);
										        transform: translateX(-50%);
									}
								}

							}
						}
					}
				}
			}
		}

 		>div.row#myproject{
 			padding-top: 20px;
 			.show-main{
 				div.row{
 					.show-title{
 						height: 100px;
 						color: $bg-color-4;
 						margin-bottom: 20px;
 						h2{
 							line-height: 100px;
 							text-transform: capitalize;
 							border-bottom: 1px solid $bg-color-5;
 						}
 					}
 					.show-card{
 						.row{
 							display: -webkit-box;
 							display: -ms-flexbox;
 							display: flex;
 							-webkit-box-pack: justify;
 							    -ms-flex-pack: justify;
 							        justify-content: space-between;
 							.card{
 								max-width: 30%;
								margin-bottom: 40px;
								padding: 0;
								border: none;
								background-color: $bg-color-4;
								color: $bg-color-1;
								position: relative;
 								.img{}
 								div.card-block{
 									p{
 										min-height: 96px;

 									}
 									div.card-hover{
 										width: 100%;
 										height: 100%;
 										background-color: black;
 										position: absolute;
										opacity: 0;
										top: 0;
										left: 0;
										visibility: hidden;	
										-webkit-transition: 0.4s;	
										-o-transition: 0.4s;	
										transition: 0.4s;
 									}
 									a{
 										position: absolute;
 										top: 70%;
 										left: 50%;
 										-webkit-transform: translate(-50%,-50%);
 										    -ms-transform: translate(-50%,-50%);
 										        transform: translate(-50%,-50%);
 										background-color: $bg-color-1;
 										color: $bg-color-4;
 										border: none;
 										opacity: 0;
 										visibility: hidden;
 										-webkit-transition: 0.4s;
 										-o-transition: 0.4s;
 										transition: 0.4s;
 									}
 								}
 							}
 							.card:hover{
 								-webkit-box-shadow: 0 0 16px black;
 								        box-shadow: 0 0 16px black;
 								div.card-block{
 									div.card-hover{
 										opacity: 0.8;
 										visibility: visible;
 									}
 									a{
 										opacity: 1;
 										visibility: visible;
 										top: 50%;
 									}
 								}
 							}
 						}
 					}
 				}
 			} /*end show-main*/
 		}/* end row my project*/



 	} /*end container fluid*/
 	/*end*/
 	.menu-fixed{
 		position: fixed;
 		bottom: 0;
 		left: 0;
 		z-index: 5;
 		
 		ul{
 			li{
 				width: 60px;
 				height: 60px;
 				border-radius: 50%;
 				border: 1px dashed $bg-color-2;
 				position: relative;
 				margin-bottom: 30px;
 				cursor: pointer;
 				display: block;
 				i{
 					display: block;
 					font-size: 25px;
 					color: $bg-color-4;
 					line-height: 60px;
 				}
 				span{
 					display: inline-block;
 					font-size: 16px;
 					position: absolute;
 					top: 50%;
 					right: -250%;
 					-webkit-transform: translateY(-50%);
 					    -ms-transform: translateY(-50%);
 					        transform: translateY(-50%);
 					color: $bg-color-4;
 					background-color: #1f6c68;
 					padding: 0 10px;
 					opacity: 0;
 					visibility: hidden;
 					-webkit-transition: 0.4s;
 					-o-transition: 0.4s;
 					transition: 0.4s;
 					border-radius: 5px;
 					
 				}
 				span.act-menu{
					opacity: 1;
					visibility: visible;
					right: -190%
 				}
 			}
 			li:first-child{
 				margin-left: 30px;
 			}
 			li:nth-child(2){
 				margin-left: 60px;
 			}
 			li:last-child{
 				margin-left: 90px;
 			}
 			li:hover{
 				background-color: #1f6c68;
 				
 			}
 		}
 	}
 	.bg-rotate{
 		position: absolute;
 		width: 500px;
 		height: 1000px;
 		top: 0;
 		left: 0;
 		background-color: $bg-color-5;
 		-webkit-transform-origin: 50% 50%;
 		    -ms-transform-origin: 50% 50%;
 		        transform-origin: 50% 50%;
 		-webkit-transform: rotateZ(-20deg) translate(-56%, -10%);
 		    -ms-transform: rotate(-20deg) translate(-56%, -10%);
 		        transform: rotateZ(-20deg) translate(-56%, -10%);
 	}
 	.bg-close{
 		position: fixed;
 		width: 150px;
 		height: 150px;
 		border-radius: 50%;
 		background-color: $bg-color-2;
 		top: 0;
 		left: 0;
 		-webkit-transform: translate(-50%,-50%);
 		    -ms-transform: translate(-50%,-50%);
 		        transform: translate(-50%,-50%);
 		-webkit-transition: 0.4s;
 		-o-transition: 0.4s;
 		transition: 0.4s;
 		i{
 			font-size: 30px;
 			color: white;
 			position: absolute;
 			right: 40px;
 			bottom: 35px;
 			-webkit-transition: 0.4s;
 			-o-transition: 0.4s;
 			transition: 0.4s;
 			cursor: pointer;
 		}
 	}
 	.bg-close:hover{
 		-webkit-transform:  translate(-50%,-50%) scale(1.3);
 		    -ms-transform:  translate(-50%,-50%) scale(1.3);
 		        transform:  translate(-50%,-50%) scale(1.3);
 		i{
 			-webkit-transform: rotate(360deg);
 			    -ms-transform: rotate(360deg);
 			        transform: rotate(360deg);
 		}
 	}

 }
 section.content.show{
 	-webkit-transform: scale(1);
 	    -ms-transform: scale(1);
 	        transform: scale(1);
 	opacity: 1;
 	visibility: visible;
 }







.anime-zoom-in{
		-webkit-animation: zoom-in 1s forwards;
		        animation: zoom-in 1s forwards;
}
@-webkit-keyframes zoom-in{
	0%{-webkit-transform: scale(1.5);transform: scale(1.5); opacity: 0}
	100%{-webkit-transform: scale(1);transform: scale(1); opacity: 1}
}
@keyframes zoom-in{
	0%{-webkit-transform: scale(1.5);transform: scale(1.5); opacity: 0}
	100%{-webkit-transform: scale(1);transform: scale(1); opacity: 1}
}
.anime-right-in{
	-webkit-animation: right-in 1s forwards;
	        animation: right-in 1s forwards;
}

@-webkit-keyframes right-in{
	0%{-webkit-transform: translateX(100px);transform: translateX(100px); opacity: 0}
	100%{-webkit-transform: translateX(0px);transform: translateX(0px); opacity: 1}
}

@keyframes right-in{
	0%{-webkit-transform: translateX(100px);transform: translateX(100px); opacity: 0}
	100%{-webkit-transform: translateX(0px);transform: translateX(0px); opacity: 1}
}
.anime-left-in{
	-webkit-animation: left-in 1s forwards;
	        animation: left-in 1s forwards;
}
@-webkit-keyframes left-in{
	0%{-webkit-transform: translateX(-100px);transform: translateX(-100px); opacity: 0}
	100%{-webkit-transform: translateX(0px);transform: translateX(0px); opacity: 1}
}
@keyframes left-in{
	0%{-webkit-transform: translateX(-100px);transform: translateX(-100px); opacity: 0}
	100%{-webkit-transform: translateX(0px);transform: translateX(0px); opacity: 1}
}
.anime-flicker{
	-webkit-animation: flicker 1s infinite;
	        animation: flicker 1s infinite;
}

@-webkit-keyframes flicker{
	0%{opacity: 0;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes flicker{
	0%{opacity: 0;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}
@import 'lg.scss';
@import 'md.scss';
@import 'sm.scss';
@import 'mobile.scss';