/*color background*/
$bg-color-1 : #66635B;
$bg-color-2 : #B4C292;
$bg-color-3 : #4C5760;
$bg-color-4 : #DCEDFF;
$bg-color-5 : #368F8B;
/*color text*/
$text-white : #FFFFFF;
/*font*/
$font-text-logo :'Rock Salt', cursive;


body, html{
	width: 100%;
	height: 100%;
	background-color: $bg-color-1;
}

header.container-fluid{
	height: 90px;
	background-color: $bg-color-1;
	>div.row{	height: 100%;
		div.text-logo{
			h1{
				display: inline-block;
				margin-bottom: 0;
				margin-left: 80px;
				line-height: 90px;
				color: $bg-color-4;
				font-family: $font-text-logo;
				font-size: 35px;
				font-weight: 900;
				transition: 0.6s
				
			}
	} /*end css div text-logo*/
			div.contact{
				display: table;
				height: 100%;

				ul{
					display: table-cell;
					vertical-align: middle;
					li{ 	margin-right: 10px;
						a{
							font-size: 26px;
							color: $bg-color-2;
							cursor: pointer;
							text-decoration: none;
						}
						a:hover{
							color: $bg-color-4;
							text-shadow: 0px 0px 20px $bg-color-4;
						}
					}
				}
			}
		}
} /* end css header*/
section#main{
			width: 100%;
			padding: 50px 0;
			background-color: $bg-color-3;
			div.container.nav{	padding: 0 0;
				>div.row{
					height: 100%;
					width: 100%;
					div.image{
						position: relative;
						min-height: 300px;
						img.coffee{
							max-width: 100px;
							position: absolute;
							z-index: 3;
							top: 64%;
							left: 67%;
							transition: 0.6s;

							}
						img.laptop{
							max-width: 300px;
							position: absolute;	
							z-index: 1;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
							transition: 0.6s;
							}
						}/*end div.image*/
						div.main-content{
							>div.row{
								div.content-title{
									position: relative;
									margin-bottom: 20px;
									border-radius: 50%;

									h3{
										display: inline-block;
										line-height: 70px;
										font-size: 20px;
										color: $bg-color-4;
										text-shadow: 0 0 10px $bg-color-4;
										text-transform: uppercase;
									}
									span{
										display: inline-block;
										line-height: 70px;
										font-size: 20px;
										color: $bg-color-4;
									}
								}
								div.content-title::after{
									display: block;
									content: "";
									width: 100%;
									height: 100%;
									position: absolute;
									opacity: 0.5;
									top: 0;
									left: 0;
									border-radius: 50%;
									box-shadow: 0 3px 10px black;
									clip: rect(77.6px, 600px, 87.6px, 160px);


								}
								div.content-nav{
									nav{
										ul{
											li{
												width: 144px;
												height: 144px;
												border-radius: 50%;
												border: 1px dashed $bg-color-2;
												cursor: pointer;

												i{
													font-size: 50px;
													padding: 30px 0;
													color: $bg-color-2;
													transition: 0.6s;
												}
												span{
													position: relative;
													line-height: 30px;
													display: block;
													background: #649173;
													background: linear-gradient(to right, #66635B, #B4C292);
													border-radius: 10px;
													color: $bg-color-2;
													transition: 0.6s;
													text-shadow: 0 0 2px black;

												}

											}
											li:not(:last-child){	margin-right: 35px;}
											li:hover{	background-color: #3a434b;
												i{
													color:$bg-color-4;
													text-shadow: 0 0 25px $bg-color-4;
												}
												span{
													color:$bg-color-4;
													text-shadow: 0 0 5px $bg-color-4;
												}

											}
										}
									}

								}
								}/*end row*/
								}/*end div.main-content*/
								} /*end row*/
								} /*end div container nav*/
}
/*end css section main*/
footer.container{
	width: 100%;
	padding: 20px 0;
	p{
		text-transform: uppercase;
		color: $bg-color-2;
	}
}
/*end css footer*/








.anime-zoom-in{
		animation: zoom-in 1s forwards;
}
@keyframes zoom-in{
	0%{transform: scale(1.5); opacity: 0}
	100%{transform: scale(1); opacity: 1}
}
.anime-right-in{
	animation: right-in 1s forwards;
}

@keyframes right-in{
	0%{transform: translateX(100px); opacity: 0}
	100%{transform: translateX(0px); opacity: 1}
}
.anime-left-in{
	animation: left-in 1s forwards;
}
@keyframes left-in{
	0%{transform: translateX(-100px); opacity: 0}
	100%{transform: translateX(0px); opacity: 1}
}
.anime-flicker{
	animation: flicker 1s infinite;
}
@keyframes flicker{
	0%{opacity: 0;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}
@import 'lg.scss';
@import 'md.scss';
@import 'sm.scss';
@import 'mobile.scss';
