/*color background*/
/*color text*/
/*font*/
body, html {
  width: 100%;
  height: 100%;
  background-color: #66635B; }

body.overHidden, html.overHidden {
  overflow: hidden; }

header.container-fluid {
  height: 90px;
  background-color: #66635B; }
  header.container-fluid > div.row {
    height: 100%;
    /*end css div text-logo*/ }
    header.container-fluid > div.row div.text-logo h1 {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 80px;
      line-height: 90px;
      color: #DCEDFF;
      font-family: "Rock Salt", cursive;
      font-size: 35px;
      font-weight: 900;
      transition: 0.6s; }
    header.container-fluid > div.row div.contact {
      display: table;
      height: 100%; }
      header.container-fluid > div.row div.contact ul {
        display: table-cell;
        vertical-align: middle; }
        header.container-fluid > div.row div.contact ul li {
          margin-right: 10px; }
          header.container-fluid > div.row div.contact ul li a {
            font-size: 26px;
            color: #B4C292;
            cursor: pointer;
            text-decoration: none; }
          header.container-fluid > div.row div.contact ul li a:hover {
            color: #DCEDFF;
            text-shadow: 0px 0px 20px #DCEDFF; }

/* end css header*/
section#main {
  width: 100%;
  padding: 50px 0;
  background-color: #4C5760;
  /*end div container nav*/ }
  section#main div.container.nav {
    padding: 0 0;
    /*end row*/ }
    section#main div.container.nav > div.row {
      height: 100%;
      width: 100%;
      /*end div.image*/
      /*end div.main-content*/ }
      section#main div.container.nav > div.row div.image {
        position: relative;
        min-height: 300px; }
        section#main div.container.nav > div.row div.image img.coffee {
          max-width: 100px;
          position: absolute;
          z-index: 3;
          top: 64%;
          left: 67%;
          transition: 0.6s; }
        section#main div.container.nav > div.row div.image img.laptop {
          max-width: 300px;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.6s; }
      section#main div.container.nav > div.row div.main-content {
        /*end row*/ }
        section#main div.container.nav > div.row div.main-content > div.row div.content-title {
          position: relative;
          margin-bottom: 20px;
          border-radius: 50%;
          height: 70px; }
          section#main div.container.nav > div.row div.main-content > div.row div.content-title h3 {
            display: inline-block;
            margin-bottom: 0;
            line-height: 70px;
            font-size: 20px;
            color: #DCEDFF;
            text-shadow: 0 0 10px #DCEDFF;
            text-transform: uppercase; }
          section#main div.container.nav > div.row div.main-content > div.row div.content-title span {
            display: inline-block;
            line-height: 70px;
            font-size: 20px;
            color: #DCEDFF; }
        section#main div.container.nav > div.row div.main-content > div.row div.content-title::after {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0.5;
          top: 0;
          left: 0;
          border-radius: 50%;
          box-shadow: 0 3px 10px black;
          clip: rect(70px, 600px, 87.6px, 160px); }
        section#main div.container.nav > div.row div.main-content > div.row div.content-nav nav ul li {
          width: 144px;
          height: 144px;
          border-radius: 50%;
          border: 1px dashed #B4C292;
          cursor: pointer; }
          section#main div.container.nav > div.row div.main-content > div.row div.content-nav nav ul li i {
            font-size: 50px;
            padding: 30px 0;
            color: #B4C292;
            transition: 0.6s; }
          section#main div.container.nav > div.row div.main-content > div.row div.content-nav nav ul li span {
            position: relative;
            line-height: 30px;
            display: block;
            background: #649173;
            background: linear-gradient(to right, #66635B, #B4C292);
            border-radius: 10px;
            color: #B4C292;
            transition: 0.6s;
            text-shadow: 0 0 2px black; }
        section#main div.container.nav > div.row div.main-content > div.row div.content-nav nav ul li:not(:last-child) {
          margin-right: 35px; }
        section#main div.container.nav > div.row div.main-content > div.row div.content-nav nav ul li:hover {
          background-color: #3a434b; }
          section#main div.container.nav > div.row div.main-content > div.row div.content-nav nav ul li:hover i {
            color: #DCEDFF;
            text-shadow: 0 0 25px #DCEDFF; }
          section#main div.container.nav > div.row div.main-content > div.row div.content-nav nav ul li:hover span {
            color: #DCEDFF;
            text-shadow: 0 0 5px #DCEDFF; }

/*end css section main*/
footer.container {
  width: 100%;
  padding: 20px 0; }
  footer.container p {
    text-transform: uppercase;
    color: #B4C292; }

/*end css footer*/
section.content {
  width: 100%;
  height: 100%;
  background-color: #4C5760;
  position: fixed;
  top: 0px;
  left: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: scale(2);
  transition: 0.2s;
  z-index: 10;
  /*css for card*/
  /*end container fluid*/
  /*end*/ }
  section.content div.container-fluid {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /*end row about me*/
    /* end row my project*/ }
    section.content div.container-fluid > div.row#aboutme {
      padding-top: 20px; }
      section.content div.container-fluid > div.row#aboutme > div .title-info {
        padding: 0 15px; }
        section.content div.container-fluid > div.row#aboutme > div .title-info h2 {
          width: 100%;
          line-height: 100px;
          color: #368F8B;
          border-bottom: 1px solid #368F8B; }
      section.content div.container-fluid > div.row#aboutme > div .basic-info {
        padding: 20px 0; }
        section.content div.container-fluid > div.row#aboutme > div .basic-info .img {
          width: 100%;
          padding: 0; }
          section.content div.container-fluid > div.row#aboutme > div .basic-info .img img {
            display: inline-block;
            width: 200px;
            height: 200px;
            border-radius: 50%; }
        section.content div.container-fluid > div.row#aboutme > div .basic-info .text {
          height: 200px;
          display: table; }
          section.content div.container-fluid > div.row#aboutme > div .basic-info .text > div {
            display: table-cell;
            vertical-align: middle; }
            section.content div.container-fluid > div.row#aboutme > div .basic-info .text > div div {
              font-size: 20px;
              color: #DCEDFF; }
              section.content div.container-fluid > div.row#aboutme > div .basic-info .text > div div i {
                padding-right: 10px; }
      section.content div.container-fluid > div.row#aboutme > div .target-info {
        padding: 20px 0; }
        section.content div.container-fluid > div.row#aboutme > div .target-info div {
          margin-top: 20px; }
          section.content div.container-fluid > div.row#aboutme > div .target-info div p {
            font-size: 18px;
            color: #DCEDFF; }
          section.content div.container-fluid > div.row#aboutme > div .target-info div p:before {
            content: '';
            display: block;
            width: 50%;
            height: 1px;
            background-color: #368F8B;
            margin: 0 auto 10px; }
          section.content div.container-fluid > div.row#aboutme > div .target-info div p:after {
            content: '';
            display: block;
            width: 50%;
            height: 1px;
            background-color: #368F8B;
            margin: 10px auto 0; }
      section.content div.container-fluid > div.row#aboutme > div .timeline-info {
        position: relative;
        margin: 20px 0; }
        section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line {
          width: 100%;
          height: 100%; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.line {
            width: 20px;
            height: 100%;
            background-color: #368F8B;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%); }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.line:after {
            content: "";
            border: 10px solid #00000000;
            border-bottom: 10px solid #368F8B;
            position: absolute;
            top: -20px;
            left: 0; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul li {
            z-index: 11;
            position: static;
            display: block;
            max-width: 70px;
            padding: 23px 0;
            margin: 0 auto; }
            section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul li h6 {
              line-height: 35px;
              background-color: #368F8B;
              margin: 0;
              border-radius: 5px;
              color: #B4C292; }
        section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events {
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%); }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li {
            height: 80px;
            width: 300px;
            padding: 5px 10px;
            background-color: #66635B;
            border-radius: 5px;
            position: relative;
            color: #DCEDFF; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(even) {
            margin-left: 400px; }
            section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(even):before {
              content: "";
              display: block;
              position: absolute;
              border: 10px solid #00000000;
              border-right: 10px solid #66635B;
              top: 50%;
              left: -20px;
              transform: translateY(-50%); }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(odd):before {
            content: "";
            display: block;
            position: absolute;
            border: 10px solid #00000000;
            border-left: 10px solid #66635B;
            top: 50%;
            right: -20px;
            transform: translateY(-50%); }
    section.content div.container-fluid > div.row#myproject {
      padding-top: 20px;
      /*end show-main*/ }
      section.content div.container-fluid > div.row#myproject .show-main div.row .show-title {
        height: 100px;
        color: #DCEDFF;
        margin-bottom: 20px; }
        section.content div.container-fluid > div.row#myproject .show-main div.row .show-title h2 {
          line-height: 100px;
          text-transform: capitalize;
          border-bottom: 1px solid #368F8B; }
      section.content div.container-fluid > div.row#myproject .show-main div.row .show-card .row {
        display: flex;
        justify-content: space-between; }
        section.content div.container-fluid > div.row#myproject .show-main div.row .show-card .row .card {
          max-width: 30%;
          margin-bottom: 40px;
          padding: 0;
          border: none;
          background-color: #DCEDFF;
          color: #66635B;
          position: relative; }
          section.content div.container-fluid > div.row#myproject .show-main div.row .show-card .row .card div.card-block div.card-hover {
            width: 100%;
            height: 100%;
            background-color: black;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            visibility: hidden;
            transition: 0.4s; }
          section.content div.container-fluid > div.row#myproject .show-main div.row .show-card .row .card div.card-block a {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #66635B;
            color: #DCEDFF;
            border: none;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s; }
        section.content div.container-fluid > div.row#myproject .show-main div.row .show-card .row .card:hover {
          box-shadow: 0 0 16px black; }
          section.content div.container-fluid > div.row#myproject .show-main div.row .show-card .row .card:hover div.card-block div.card-hover {
            opacity: 0.8;
            visibility: visible; }
          section.content div.container-fluid > div.row#myproject .show-main div.row .show-card .row .card:hover div.card-block a {
            opacity: 1;
            visibility: visible;
            top: 50%; }
  section.content .menu-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5; }
    section.content .menu-fixed ul li {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px dashed #B4C292;
      position: relative;
      margin-bottom: 30px;
      cursor: pointer;
      display: block; }
      section.content .menu-fixed ul li i {
        display: block;
        font-size: 25px;
        color: #DCEDFF;
        line-height: 60px; }
      section.content .menu-fixed ul li span {
        display: inline-block;
        font-size: 16px;
        position: absolute;
        top: 50%;
        right: -250%;
        transform: translateY(-50%);
        color: #DCEDFF;
        background-color: #1f6c68;
        padding: 0 10px;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        border-radius: 5px; }
    section.content .menu-fixed ul li:first-child {
      margin-left: 30px; }
    section.content .menu-fixed ul li:nth-child(2) {
      margin-left: 60px; }
    section.content .menu-fixed ul li:last-child {
      margin-left: 90px; }
    section.content .menu-fixed ul li:hover {
      background-color: #1f6c68; }
      section.content .menu-fixed ul li:hover span {
        opacity: 1;
        visibility: visible;
        right: -190%; }
  section.content .bg-rotate {
    position: absolute;
    width: 500px;
    height: 1000px;
    top: 0;
    left: 0;
    background-color: #368F8B;
    transform-origin: 50% 50%;
    transform: rotateZ(-20deg) translate(-56%, -10%); }
  section.content .bg-close {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #B4C292;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: 0.4s; }
    section.content .bg-close i {
      font-size: 30px;
      color: white;
      position: absolute;
      right: 40px;
      bottom: 35px;
      transition: 0.4s;
      cursor: pointer; }
  section.content .bg-close:hover {
    transform: translate(-50%, -50%) scale(1.3); }
    section.content .bg-close:hover i {
      transform: rotate(360deg); }

section.content.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible; }

.anime-zoom-in {
  animation: zoom-in 1s forwards; }

@keyframes zoom-in {
  0% {
    transform: scale(1.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.anime-right-in {
  animation: right-in 1s forwards; }

@keyframes right-in {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.anime-left-in {
  animation: left-in 1s forwards; }

@keyframes left-in {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
.anime-flicker {
  animation: flicker 1s infinite; }

@keyframes flicker {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 1200px) {
  section#main {
    width: 100%; }
    section#main div.container {
      width: 100%;
      max-width: 100%; }

  section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card > div.row div.card {
    max-width: 45%; } }
@media screen and (max-width: 992px) {
  header.container-fluid {
    /*end row*/ }
    header.container-fluid div.row div.text-logo h1 {
      margin: 0; }

  /*end header*/
  section#main {
    /*end div container*/ }
    section#main div.container.nav {
      /*end row*/ }
      section#main div.container.nav > div.row {
        /*end main-content*/ }
        section#main div.container.nav > div.row div.image img.coffee {
          max-width: 70px; }
        section#main div.container.nav > div.row div.image img.laptop {
          max-width: 220px; }
        section#main div.container.nav > div.row div.main-content {
          /*end row*/ }
          section#main div.container.nav > div.row div.main-content div.row {
            /* end content-nav*/ }
            section#main div.container.nav > div.row div.main-content div.row div.content-title h3 {
              font-size: 16px;
              line-height: 50px; }
            section#main div.container.nav > div.row div.main-content div.row div.content-title::after {
              box-shadow: none; }
            section#main div.container.nav > div.row div.main-content div.row div.content-nav {
              /*and nav main-nav*/ }
              section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav {
                /* end ul*/ }
                section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav ul {
                  text-align: left;
                  /*end li*/ }
                  section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav ul li {
                    margin: 0 auto 20px;
                    display: block;
                    width: 50%;
                    height: 50px;
                    border-radius: 5px; }
                    section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav ul li i {
                      font-size: 20px;
                      line-height: 50px;
                      padding: 0 20px; }
                    section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav ul li span {
                      line-height: 50px;
                      position: static;
                      display: inline-block;
                      background: none;
                      text-transform: uppercase; }
                  section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav ul li:hover span {
                    text-shadow: 0 0 16px #DCEDFF; }

  /*end section#main*/
  section.content {
    /* end container fluid*/
    /* end bg-rotate*/
    /*end bg-close*/ }
    section.content div.container-fluid {
      /*end row*/ }
      section.content div.container-fluid > div.row#myproject {
        /*end show-main*/ }
        section.content div.container-fluid > div.row#myproject div.show-main {
          /*end row*/ }
          section.content div.container-fluid > div.row#myproject div.show-main > div.row {
            /*end show-card*/ }
            section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card {
              /*end row*/ }
              section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card > div.row {
                justify-content: space-around;
                /*end div.card*/
                /*end div.card hover*/ }
                section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card > div.row div.card {
                  max-width: 40%; }
                  section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card > div.row div.card div.card-block div.card-hover {
                    display: none; }
                  section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card > div.row div.card div.card-block a {
                    position: static;
                    background-color: #66635B;
                    color: #DCEDFF;
                    border: none;
                    visibility: visible;
                    opacity: 1;
                    transform: translate(0, 0);
                    margin: 0 auto 10px; }
    section.content div.menu-fixed {
      display: none; }
    section.content div.bg-rotate {
      display: none; }
    section.content div.bg-close {
      position: fixed;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #B4C292;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      transition: 0.4s; }
      section.content div.bg-close i {
        font-size: 30px;
        color: white;
        position: absolute;
        right: 20px;
        bottom: 17px;
        transition: 0.4s;
        cursor: pointer; }

  /*end section content*/ }
@media screen and (max-width: 768px) {
  header.container-fluid {
    /*end row*/ }
    header.container-fluid div.row {
      /*end contact*/ }
      header.container-fluid div.row div.contact ul li a {
        font-size: 30px; }
      header.container-fluid div.row div.contact ul li:last-child {
        margin-right: 0; }

  /*end container-fluid*/
  section#main {
    /*end div container*/ }
    section#main div.container.nav {
      /*end row*/ }
      section#main div.container.nav > div.row {
        /*end main-content*/ }
        section#main div.container.nav > div.row div.image {
          min-height: 230px; }
          section#main div.container.nav > div.row div.image img.coffee {
            max-width: 60px;
            left: 59%; }
          section#main div.container.nav > div.row div.image img.laptop {
            max-width: 200px; }
        section#main div.container.nav > div.row div.main-content {
          opacity: 0;
          animation-delay: 0.5s;
          /*end row*/ }
          section#main div.container.nav > div.row div.main-content div.row div.content-title h3 {
            height: 50px;
            font-size: 16px;
            line-height: 50px; }
          section#main div.container.nav > div.row div.main-content div.row div.content-title span {
            display: none; }
          section#main div.container.nav > div.row div.main-content div.row div.content-title::after {
            box-shadow: none; }
          section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav ul li {
            display: block;
            width: 90%;
            max-width: 300px; }

  /*end section#main*/
  footer.container p {
    text-align: center; }

  /*end footer*/
  section.content div.container-fluid {
    /*end about me*/
    /*end my project*/ }
    section.content div.container-fluid > div.row#aboutme > div {
      /*end basic info*/ }
      section.content div.container-fluid > div.row#aboutme > div div.basic-info div.img img {
        width: 100px;
        height: 100px; }
      section.content div.container-fluid > div.row#aboutme > div div.basic-info div.text {
        margin-top: 20px;
        height: auto; }
        section.content div.container-fluid > div.row#aboutme > div div.basic-info div.text > div div {
          font-size: 16px; }
      section.content div.container-fluid > div.row#aboutme > div .target-info {
        padding: 10px 0; }
        section.content div.container-fluid > div.row#aboutme > div .target-info div {
          margin-top: 20px; }
          section.content div.container-fluid > div.row#aboutme > div .target-info div p {
            font-size: 16px;
            color: #DCEDFF; }
      section.content div.container-fluid > div.row#aboutme > div .timeline-info {
        position: relative;
        width: 380px;
        margin: 20px auto;
        /*end time-line*/
        /*end events*/ }
        section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line {
          height: 100%;
          /*end time*/ }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.line {
            width: 20px;
            height: 100%;
            background-color: #368F8B;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 35px; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul {
            text-align: left; }
            section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul li {
              z-index: 11;
              position: static;
              display: block;
              max-width: 70px;
              padding: 28px 0;
              margin: 0 0; }
              section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul li h6 {
                line-height: 35px;
                background-color: #368F8B;
                margin: 0;
                border-radius: 5px;
                color: #B4C292; }
        section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events {
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(0); }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li {
            height: 80px;
            width: 300px;
            padding: 5px 10px;
            margin: 10px 0;
            background-color: #66635B;
            border-radius: 5px;
            position: relative;
            color: #DCEDFF; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(even) {
            margin-left: 80px; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(odd) {
            margin-left: 80px; }
            section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(odd):before {
              border-right: 10px solid #66635B;
              border-left: 10px solid #00000000;
              top: 50%;
              right: 300px;
              transform: translateY(-50%); }
    section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card > div.row div.card {
      max-width: 55%; } }
@media screen and (max-width: 576px) {
  header.container-fluid {
    height: 60px;
    /*end row*/ }
    header.container-fluid div.row {
      height: 100%;
      /*end contact*/ }
      header.container-fluid div.row div.text-logo h1 {
        display: inline-block;
        line-height: 60px;
        color: #DCEDFF;
        font-family: "Rock Salt", cursive;
        font-size: 30px;
        font-weight: 900;
        transition: 0.6s; }
      header.container-fluid div.row div.contact {
        height: auto; }
        header.container-fluid div.row div.contact ul {
          position: fixed;
          top: 40px;
          z-index: 5; }
          header.container-fluid div.row div.contact ul li {
            display: block;
            margin-bottom: 5px; }
            header.container-fluid div.row div.contact ul li a {
              font-size: 30px; }
          header.container-fluid div.row div.contact ul li:last-child {
            margin-right: 10px; }

  /*end container-fluid*/
  section#main {
    padding-top: 0;
    /*end div container*/ }
    section#main div.container.nav {
      /*end row*/ }
      section#main div.container.nav > div.row {
        /*end main-content*/ }
        section#main div.container.nav > div.row div.image {
          min-height: 230px; }
          section#main div.container.nav > div.row div.image img.coffee {
            max-width: 60px;
            left: 59%; }
          section#main div.container.nav > div.row div.image img.laptop {
            max-width: 200px; }
        section#main div.container.nav > div.row div.main-content {
          opacity: 0;
          /*end row*/ }
          section#main div.container.nav > div.row div.main-content div.row div.content-title h3 {
            font-size: 16px;
            line-height: 20px; }
          section#main div.container.nav > div.row div.main-content div.row div.content-title::after {
            box-shadow: none; }
          section#main div.container.nav > div.row div.main-content div.row div.content-nav nav.main-nav ul li {
            display: block; }

  /*end section#main*/
  section.content div.container-fluid {
    /*end about me*/ }
    section.content div.container-fluid > div.row#aboutme > div .timeline-info {
      position: relative;
      width: 100%;
      margin: 20px auto;
      /*end time-line*/
      /*end events*/ }
      section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line {
        height: 100%;
        /*end time*/ }
        section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.line {
          width: 20px;
          height: 100%;
          background-color: #368F8B;
          z-index: -1;
          position: absolute;
          top: 0;
          left: 35px; }
        section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul {
          text-align: left; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul li {
            z-index: 11;
            position: static;
            display: block;
            max-width: 70px;
            padding: 28px 0;
            margin: 0 0; }
            section.content div.container-fluid > div.row#aboutme > div .timeline-info div.time-line div.time ul li h6 {
              line-height: 35px;
              background-color: #368F8B;
              margin: 0;
              border-radius: 5px;
              color: #B4C292; }
      section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0); }
        section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul {
          width: 100%; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li {
            height: 100px;
            padding: 5px 10px;
            margin: 10px 0;
            background-color: #66635B;
            border-radius: 5px;
            position: relative;
            color: #DCEDFF; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(even) {
            margin-left: 80px; }
          section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(odd) {
            margin-left: 80px; }
            section.content div.container-fluid > div.row#aboutme > div .timeline-info div.events ul li:nth-child(odd):before {
              border-right: 10px solid #66635B;
              border-left: 10px solid #00000000;
              top: 50%;
              right: 300px;
              transform: translateY(-50%); }
    section.content div.container-fluid > div.row#myproject div.show-main > div.row div.show-card > div.row div.card {
      max-width: 90%; } }

/*# sourceMappingURL=main.css.map */
