@media screen and (max-width: 992px){
	header.container-fluid{
		div.row{
			div.text-logo{
				h1{
					margin: 0;
				}
			}
		} /*end row*/
	} /*end header*/
	section#main{
		div.container.nav{
			>div.row{
				div.image{
					img.coffee{
						max-width: 70px;
					}
					img.laptop{
						max-width: 220px;
					}
				}
				div.main-content{
					div.row{
						div.content-title{
							h3{
								font-size: 16px;
								line-height: 50px;	
							}
						}
						div.content-title::after{
							box-shadow: none;
						}
						div.content-nav{
							nav.main-nav{
								ul{
									text-align: left;
									li{
										margin: 0 auto 20px;
										display: block;
										width: 50%;
										height: 50px;
										border-radius: 5px;
										i{
											font-size: 20px;
											line-height: 50px;
											padding: 0 20px;
										}
										span{
											line-height: 50px;
											position: static;
											display: inline-block;
											background:none;
											text-transform: uppercase;
										}
									} /*end li*/
									li:hover{
										span{
											text-shadow: 0 0 16px $bg-color-4;
										}
									}
								}/* end ul*/
							} /*and nav main-nav*/
						}/* end content-nav*/

					} /*end row*/
				} /*end main-content*/
			} /*end row*/
		} /*end div container*/
	} /*end section#main*/
	section.content{
		div.container-fluid{
			>div.row#myproject{
				div.show-main{
					>div.row{
						div.show-title{
							h2{

							}
						}
						div.show-card{
							>div.row{
								justify-content: space-around;
								div.card{
									max-width: 40%;
									div.card-block{
										div.card-hover{
											display: none;
										}
										a{
											position: static;
	 										background-color: $bg-color-1;
	 										color: $bg-color-4;
	 										border: none;
	 										visibility: visible;
	 										opacity: 1;
	 										transform: translate(0,0);
	 										margin: 0 auto 10px;
	 										
										}
									}
								} /*end div.card*/
								div.card:hover{
									div.card-block{
										a{
											
										}
									}

								} /*end div.card hover*/
							} /*end row*/
						} /*end show-card*/
					} /*end row*/
				} /*end show-main*/
			} /*end row*/
		}/* end container fluid*/
		div.menu-fixed{
			display: none;
		}
		div.bg-rotate{
			display: none;
		}/* end bg-rotate*/
		div.bg-close{
			position: fixed;
	 		width: 100px;
	 		height: 100px;
	 		border-radius: 50%;
	 		background-color: $bg-color-2;
	 		top: 0;
	 		left: 0;
	 		transform: translate(-50%,-50%);
	 		transition: 0.4s;
 			i{
	 			font-size: 30px;
	 			color: white;
	 			position: absolute;
	 			right: 20px;
	 			bottom: 17px;
	 			transition: 0.4s;
	 			cursor: pointer;
 			}
		} /*end bg-close*/
	} /*end section content*/
}