@media screen and (max-width: 576px){
	header.container-fluid{
		height: 60px;
		div.row{
			height: 100%;
			div.text-logo{
				h1{
					display: inline-block;
					line-height: 60px;
					color: $bg-color-4;
					font-family: $font-text-logo;
					font-size: 30px;
					font-weight: 900;
					transition: 0.6s
				}
			}
			div.contact{
				height: auto;
				ul{
					position: fixed;
					top: 40px;
					z-index: 5;
					li{
						display: block;
						margin-bottom: 5px;
						a{
							font-size: 30px;
						}
					}
					li:last-child{
						margin-right: 10px;
					}
				}
			} /*end contact*/
		} /*end row*/
	} /*end container-fluid*/
	section#main{
		padding-top: 0;
		div.container.nav{
			>div.row{
				div.image{
					min-height: 230px;
					img.coffee{
						max-width: 60px;
						left: 59%;
					}
					img.laptop{
						max-width: 200px;
					}
				}
				div.main-content{
					opacity: 0;
					div.row{
						div.content-title{
							h3{
								font-size: 16px;
								line-height: 20px;	
							}
						}
						div.content-title::after{
							box-shadow: none;
						}
						div.content-nav{
							nav.main-nav{
								ul{
									li{
										display: block;
										i{

										}
										span{
											
										}
									}
								}
							}
						}

					} /*end row*/
				} /*end main-content*/
			} /*end row*/
		} /*end div container*/
	} /*end section#main*/
	section.content{
		div.container-fluid{
			>div.row#aboutme{
				>div{
					.timeline-info{
						position: relative;
						width: 100%;
						margin: 20px auto;

						div.time-line{
							
							height: 100%;
							div.line{
								width: 20px;
								height: 100%;
								background-color: $bg-color-5;
								z-index: -1;
								position: absolute;
								top: 0;
								left: 35px;

							}	
							div.time{

								ul{
									text-align: left;
									li{
										z-index: 11;
										position: static;
										display: block;
										max-width:70px;
										padding: 28px 0;
										margin: 0 0;

										h6{
											line-height: 35px;
											background-color: $bg-color-5;
											margin: 0;
											border-radius: 5px;
											color: $bg-color-2;
										}
									}
								}

							}
							/*end time*/
						}
						/*end time-line*/
						div.events{
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							transform: translateX(0);
							ul{
								width: 100%;
								li{
									height: 100px;
									padding: 5px 10px;
									margin: 10px 0;
									background-color: $bg-color-1;
									border-radius: 5px;
									position: relative;
									color: $bg-color-4;
									


								}
								li:nth-child(even){
									margin-left: 80px;
									&:before{
									}
								}
								li:nth-child(odd){
									margin-left: 80px;
									&:before{
										border-right: 10px solid $bg-color-1;
										border-left: 10px solid #00000000;
										top: 50%;
										right:300px;
										transform: translateY(-50%);
									}
								}
							}
						}
						/*end events*/
					}
				}
			}
			/*end about me*/
			>div.row#myproject{
				div.show-main{
					>div.row{
						div.show-card{
							>div.row{
								div.card{
									max-width:90%;
								}
							}
						}
					}
				}
			}
		}
	}

}
