@media screen and (max-width: 576px){
	header.container-fluid{
		height: 60px;
		div.row{
			height: 100%;
			div.text-logo{
				h1{
					display: inline-block;
					line-height: 60px;
					color: $bg-color-4;
					font-family: $font-text-logo;
					font-size: 30px;
					font-weight: 900;
					-webkit-transition: 0.6s;
					-o-transition: 0.6s;
					transition: 0.6s
				}
			}
			div.contact{
				height: auto;
				ul{
					position: fixed;
					top: 40px;
					z-index: 5;
					li{
						display: block;
						margin-bottom: 5px;
						a{
							font-size: 30px;
						}
					}
					li:last-child{
						margin-right: 10px;
					}
				}
			} /*end contact*/
		} /*end row*/
	} /*end container-fluid*/
	section#main{
		padding-top: 0;
		div.container.nav{
			>div.row{
				div.image{
					min-height: 230px;
					img.coffee{
						max-width: 60px;
						left: 59%;
					}
					img.laptop{
						max-width: 200px;
					}
				}
				div.main-content{
					opacity: 0;
					div.row{
						div.content-title{
							h3{
								font-size: 16px;
								line-height: 20px;	
							}
						}
						div.content-title::after{
							-webkit-box-shadow: none;
							        box-shadow: none;
						}
						div.content-nav{
							nav.main-nav{
								ul{
									li{
										display: block;
										i{

										}
										span{
											
										}
									}
								}
							}
						}

					} /*end row*/
				} /*end main-content*/
			} /*end row*/
		} /*end div container*/
	} /*end section#main*/
	section.content{
		div.container-fluid{
			>div.row#aboutme{
				>div{
					.timeline-info{
						position: relative;
						width: 100%;
						margin: 20px auto;

						div.time-line{	
							display: none;
						}
						/*end time-line*/
						div.events{
							display: none;
						}
						/*end events*/
						div.events-mobile{
							display: block;
							ul{
								width: 100%;
								li{
									position: relative;
									width: 80%;
									margin:0 auto;
									background-color: $bg-color-1;
									border-radius: 5px;
									margin-bottom: 20px;
									padding: 15px 10px;
									text-align: center;
									color: $bg-color-4;	
									h6{
										position: absolute;
										display: inline-block;
										line-height: 25px;
										padding: 0 10px;
										border-radius: 5px;
										top: -10px; left: 50%;
										-webkit-transform: translateX(-50%);
										    -ms-transform: translateX(-50%);
										        transform: translateX(-50%);
										text-align: center;
										color: $bg-color-2;
										background-color: $bg-color-5;
									}
								}
							}
						}
					}
				}
			}
			/*end about me*/
			>div.row#myproject{
				div.show-main{
					>div.row{
						div.show-card{
							>div.row{
								div.card{
									max-width:90%;
								}
							}
						}
					}
				}
			}
		}
	}

}