@media screen and (max-width: 576px){
	header.container-fluid{
		height: 60px;
		div.row{
			height: 100%;
			div.text-logo{
				h1{
					display: inline-block;
					line-height: 60px;
					color: $bg-color-4;
					font-family: $font-text-logo;
					font-size: 30px;
					font-weight: 900;
					transition: 0.6s
				}
			}
			div.contact{
				height: auto;
				ul{
					position: fixed;
					top: 40px;
					z-index: 5;
					li{
						display: block;
						margin-bottom: 5px;
						a{
							font-size: 30px;
						}
					}
					li:last-child{
						margin-right: 10px;
					}
				}
			} /*end contact*/
		} /*end row*/
	} /*end container-fluid*/
	section#main{
		padding-top: 0;
		div.container.nav{
			>div.row{
				div.image{
					min-height: 230px;
					img.coffee{
						max-width: 60px;
						left: 59%;
					}
					img.laptop{
						max-width: 200px;
					}
				}
				div.main-content{
					opacity: 0;
					div.row{
						div.content-title{
							h3{
								font-size: 16px;
								line-height: 20px;	
							}
						}
						div.content-title::after{
							box-shadow: none;
						}
						div.content-nav{
							nav.main-nav{
								ul{
									li{
										display: block;
										i{

										}
										span{
											
										}
									}
								}
							}
						}

					} /*end row*/
				} /*end main-content*/
			} /*end row*/
		} /*end div container*/
	} /*end section#main*/
	section.content{
		div.container-fluid{
			>div.row{
				div.show-main{
					>div.row{
						div.show-card{
							>div.row{
								div.card{
									max-width:75%;
								}
							}
						}
					}
				}
			}
		}
	}

}
