@media screen and (max-width: 768px){
header.container-fluid{
		div.row{
			div.text-logo{}
			div.contact{
				ul{
					li{
						a{
							font-size: 30px;
						}
					}
					li:last-child{
						margin-right: 0;
					}
				}
			} /*end contact*/
		} /*end row*/
} /*end container-fluid*/
section#main{
		div.container.nav{
			>div.row{
				div.image{
					min-height: 230px;
					img.coffee{
						max-width: 60px;
						left: 59%;
					}
					img.laptop{
						max-width: 200px;
					}
				}
				div.main-content{
					opacity: 0;
					animation-delay: 0.5s;
					div.row{
						div.content-title{
							h3{
								height: 50px;
								font-size: 16px;
								line-height: 50px;	
							}
							span{
								display: none;
							}
						}
						div.content-title::after{
							box-shadow: none;
						}
						div.content-nav{
							nav.main-nav{
								ul{
									li{
										display: block;
										width: 90%;
										max-width: 300px;
										i{

										}
										span{
											
										}
									}
								}
							}
						}

					} /*end row*/
				} /*end main-content*/
			} /*end row*/
		} /*end div container*/
	} /*end section#main*/
footer.container {
	p{
		text-align: center;
	}
} /*end footer*/



}