* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

header {
  /*end header top*/ }
  header div.header-top {
    width: 100%;
    height: 37px;
    background-color: #282828;
    /* end header top content*/ }
    header div.header-top .container {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      header div.header-top .container .hd-t-content-left h4 {
        display: inline-block;
        color: #fff;
        font-size: 11pt;
        line-height: 37px;
        font-weight: 400; }
        header div.header-top .container .hd-t-content-left h4 i {
          margin-right: 3px; }
      header div.header-top .container .hd-t-content-left select {
        width: 150px;
        height: 30px;
        background-color: #282828;
        padding: 0 20px 0 25px;
        color: red;
        font-size: 11pt;
        border: 1px solid gray; }
      header div.header-top .container .hd-t-content-center h4 {
        display: inline-block;
        color: #fff;
        font-size: 11pt;
        line-height: 37px;
        font-weight: 400; }
        header div.header-top .container .hd-t-content-center h4 i {
          margin-right: 3px; }
      header div.header-top .container .hd-t-content-center a {
        text-decoration: none;
        color: red;
        padding: 0 5px; }
        header div.header-top .container .hd-t-content-center a:nth-child(2) {
          padding-right: 10px;
          border-right: 1px solid red; }
      header div.header-top .container .hd-t-content-right a {
        color: #c3c3c3;
        text-decoration: none;
        line-height: 37px;
        padding-left: 15px;
        font-size: 11pt; }
        header div.header-top .container .hd-t-content-right a i {
          padding-right: 3px; }
  header div.header-bottom {
    width: 100%;
    height: 67px;
    background-color: #cd0000; }
    header div.header-bottom .container {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      display: flex; }
      header div.header-bottom .container .hd-b-left {
        width: 40%;
        height: 100%;
        display: flex;
        background-color: #fff; }
        header div.header-bottom .container .hd-b-left div.hd-b-left-logo {
          display: inline-block;
          height: 100%; }
          header div.header-bottom .container .hd-b-left div.hd-b-left-logo img {
            width: 207px;
            height: 47px;
            margin-top: 10px;
            padding: 0 15px; }
        header div.header-bottom .container .hd-b-left div.hd-b-left-search {
          display: inline-block;
          height: 100%; }
      header div.header-bottom .container .hd-b-right {
        width: 60%;
        height: 100%; }

/*end header*/
@media screen and (max-width: 1200px) {
  header {
    /*end header-top*/ }
    header div.header-top .container {
      width: 95%; }

  /*end header*/ }
@media screen and (max-width: 992px) {
  header div.header-top {
    display: none; } }

/*# sourceMappingURL=main.css.map */
