$fnt-robo: 'Roboto', sans-serif;
$cl-black: #333636;
$cl-purple-blue: #221ef9;
*{
	font-family: $fnt-robo;
}
html, body {
	width: 100%;
	height: 100%;
}
div.load-page{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 10000;
	transition: 0.5s;
	svg{
		max-width: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.cls-1 {
			fill: none;
			stroke: #000;
			stroke-miterlimit: 10;
			stroke-width: 3px;
		}
	}
}
/*end load page*/
div.fixed-left{
	width: 15%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	margin-left: 5%;
	background-color: white;
	div.logo{
		a{
			text-decoration: none;
			h2{
			color: $cl-black;
			font-size: 40px;
			font-weight: 900;
			padding: 50px 0;
			}
		}
	}
	button{
		display: none;
	}
	nav{
		width: 100%;
		ul{
			display: inline-block;
			li{
				padding: 4px 0;
				cursor: pointer;
				i{
					margin-left: -10px;
					transform: translateX(-50px);
					font-size: 20px;
					color: $cl-black;
					opacity: 0;
					visibility: hidden;
					transition: 0.4s;
				}
				a{
					color: $cl-black;
					text-decoration: none;
					font-weight: 700;
					font-size: 20px;
				}
				&:hover{
					i{
						transform: translateX(-20px);
						opacity: 1;
						visibility: visible;
					}
				}
			} /*end li*/
		} /*end ul*/
	}
	div.contact{
		position: absolute;
		bottom: 10px;
		left: 0;
		ul{
			li{
				margin-bottom: 20px;
				width: 40px;
				height: 40px;
				border: 1px solid gray;
				border-radius: 50%;
				text-align: center;
				a{
					display: block;
					width: 100%;
					height: 100%;
					line-height: 40px;
					text-decoration: none;
					color: $cl-purple-blue;
				}
				&:hover{
					box-shadow: 0 0 10px 2px #5f5454;
				}
			}

		}
	}
}
/*end fixed left*/
main{
	width: 80%;
	margin-left: 20%;
	header.row{
		padding-top: 50px;
		margin-left: 0;
		margin-right: 0;
		.header-left{
			height: 48px;
			p{
				line-height: 48px; 
				margin-bottom: 0;
				font-weight: 700;
				span{
					color: $cl-purple-blue;
					font-size: 1.1rem;
				}
			}
		}
		.header-right{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.cart{
				cursor: pointer;
				.cart-number{
					width: 30px;
					text-align: center;
					line-height: 30px;
					border-radius: 50%;
					background-color: $cl-purple-blue;
					color: white;
					position: relative;
					transition: 0.3s;
					&:before{
						content:"\f07a";
						width: 100%;
						height: 100%;
						top: -25px;
						left: 0;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						display: block;
						position: absolute;
						transition: 0.4s;
						opacity: 0;
						visibility: hidden;
					}

				}
				.cart-total{
					font-weight: 900;
				}
				&:hover{
						.cart-number{
							color: $cl-purple-blue;
							&:before{
								top:0;
								color: white;
								opacity: 1;
								visibility: visible;
							}
						}
				}
			}
			.info{
				.account{
					padding-right: 22px;
					border-right: 2px solid gray;
					a{
						color: black;
						font-weight: 700;

					}
				}
				.search{
					padding-left: 20px;
					position: relative;
					form{
						position: absolute;
						top: -20px;
						right: 25px;
						overflow: hidden;
						transition: 0.4s;
						opacity: 0;
						visibility: hidden;
						input{
							border-radius: 5px;
							border: none;
							transition: 0.4s;
							border: 1px solid black;
							padding: 0 5px;
						}
					}
					i{
						transition: 0.4s;
						cursor: pointer;
						font-size: 20px;
					}
					&:hover{
						form{
								top: -5px;
								opacity: 1;
								visibility: visible;
						}
						i{
							transform: rotate(90deg);
						}
					}
				}
			}
		} /*end header right*/
	}/* end header*/
	header.row.fixed{
		position: fixed;
		padding-top: 0;
		width: 80%;
		top: 0;
		left: 20%;
		z-index: 20;
		background-color: white;
		box-shadow: 9px 0px 10px 1px gray;
	}
	section.title{
		margin: 0;
		margin-top: 100px;

		.title-main{
			border-bottom: 1px solid gray;
			>h2.row{
				margin: 0;
			}
			div.row.price{
				margin: 0;
				h2{
					padding: 0;
					font-weight: 900;
				}
				>div{
					padding: 0;
					span.new-price{
						font-size: 25px;
						color: $cl-purple-blue;
						padding-right: 10px;
					}
					span.text-muted{
						text-decoration: line-through;
						font-size: 25px;
					}
					button.btn{
						margin-left: 10px;
						font-weight: 700;
						padding: 7px 10px;
						color: $cl-purple-blue;
						border: 1px solid black;
						text-transform: uppercase;
						i{
							padding-left: 40px;
							transition: 0.4s;
						}
						&:hover{
							i{
								transform: scale(1.3);
							}
						}
					}
				}
			}
			div.row.race{
				margin: 0;
				padding:30px 0;
				>div{
					padding:0;
					span.id{
						padding-right: 10px;
						p{
							font-weight: 700;
						}
					}
					span.star{
						padding-left: 10px;
						border-left: 1px solid gray;
						i{
							color: $cl-purple-blue;
						}
					}
					p{
						span{
							color: green;
							font-weight: 700;
						}
					}
				}
			}
		}/* end title main*/
	}/* end title*/
	section.image{
		margin: 70px 0 ;
		.img-main{
			background-color: #3e453e;	
			padding: 50px 0;
			>div.row{
				margin: 0;
				>div.row.thum{
					margin: 0;
					img{
						min-width: 150px;
						max-height: 100px;
						margin: 10px auto;
						background-color: #cccccc;
						overflow: hidden;

					}
					img:hover{
						border: 3px solid $cl-purple-blue;
					}
					img.active{
						border: 3px solid $cl-purple-blue;
					}
				}
				>div.view{
					img{
						border-radius: 50%;
					}
				}
			}
		}
		.img-sub{
			position: relative;
			p{
				width: 150px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	} /*end section explore*/
	section.description{
		margin: 0;
		.des-main{
			padding: 0;
			>div.row{
				margin: 0;
				>div.left{
					padding: 0;
					h3{}
					p{}
					>div.row{
						padding: 0;
						margin: 0;
						>div.img{
							padding: 0;

						}
						>div.content{
							padding: 0;
							display: flex;
							justify-content: center;
							align-items: center;
							>div{
								
							}

						}
					}
				} /*end left*/
				>div.right{
					padding: 0 0 0 100px;
					.link{
						a{
							display: block;
							color: black;
							padding: 7px 0;
							font-weight: 700;
						}
						a:first-child{
							color: $cl-purple-blue;
							text-decoration: underline;
						}
					}
					.info{
						padding: 50px 0;
						.price{
							font-size: 30px;
							font-weight: 700;
							color: $cl-purple-blue;
							margin-bottom: 0;
						}
						p.text-muted{
							font-weight: 400;
							font-size: 25px;
							text-decoration: line-through;
						}
						.star{
							i{
								color: $cl-purple-blue;
							}
						}
						button.btn{
							margin:20px 0;
							font-weight: 700;
							padding: 7px 10px;
							color: $cl-purple-blue;
							border: 1px solid black;
							text-transform: uppercase;
							i{
								padding-left: 40px;
								transition: 0.4s;
							}
							&:hover{
								i{
									transform: scale(1.3);
								}
							}
						}
						p{
							span{
								color: green;
								font-weight: 700;
							}
						}
					}
					.back{
						a{
							color: black;
							text-decoration: underline;
						}
					}
				} /*end right*/
			} /*end row*/
		}/* end des main*/
		.des-sub{
			position: relative;
			p{
				width: 175px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	} /*end section description*/
	section.specification{
		margin: 70px 0;
		.spec-main{
			padding: 0;
			>div.row{
				margin: 0;
				>div.left{
					padding: 0;
					margin: 0;
					.title{
						margin: 0;
						padding: 20px 0;
					}
					.content{
						margin: 0;
						padding: 20px 0;
						border-bottom:1px solid gray;
						>div{
							padding: 0;
						}
					}
					.file{
						margin: 50px 0 0;
						.file-item{
							display: flex;
							margin-right: 20px;
							cursor: pointer;
							i{
								font-size: 45px;
								color: $cl-purple-blue;
							}
							span{
								p{
									margin-bottom: 0;
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
		.spec-sub{
			position: relative;
			p{
				width: 175px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	section.review{
		margin:0;
		.re-main{
			padding:0;
			>div.row{
				margin: 0;
				>div{
					padding: 0;
					.title{}
					.re-item{
						padding-bottom: 30px;
						border-bottom: 1px solid gray;
						.re-item-head{
							margin: 20px 0;
							.head-name{
								display: flex;
								padding: 0;
								
								p.name{
									padding-right: 10px;
									margin-bottom: 0;
								}
								i{
									margin-top: 5px;
								}
								p.time{
									padding-left: 10px;
									margin-bottom: 0;
								}
							}
							.star{
								padding: 0;
								i{
									color: $cl-purple-blue;
								}
							}
						}
					}
					.more{
						div.row{
							margin: 60px 0 0 ;
							button.btn{
								
								font-weight: 700;
								padding: 7px 10px;
								color: $cl-purple-blue;
								border: 1px solid black;
								text-transform: uppercase;
								i{
									padding-left: 40px;
									transition: 0.4s;
								}
								&:hover{
									i{
										transform: scale(1.3);
									}
								}
							}
							a{
								padding:0;
								color: black;
								text-decoration: underline;
								font-weight: 700;
								line-height: 40px;
							}
						}
					}
				}
			} /*end row*/
		} /*end re main*/
		.re-sub{
			position: relative;
			p{
				width: 175px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	section.slide{
		margin: 70px 0 ;
		.slide-title{
			margin-bottom: 20px;
			a{
				color: black;
				text-decoration: underline;
				line-height: 40px;
			}
		}
		.slide-main{
			position: relative;
			overflow: hidden;
			.sl-inner{
				position: relative;
				width: 100%;
				height: 460px;

				>div{
				position: absolute;
				opacity: 0;
				visibility: hidden;
				transition: 2s;
				padding: 0 30px;
					img{

					}
					h5{
						text-align: center;
						padding: 10px 0;
					}
					span.price{
						font-size: 20px;
						color: $cl-purple-blue;
						font-weight: 700;
					}
					span.text-muted{
						text-decoration: line-through;
						font-size: 20px;
						font-weight: 700;
					}
					button.btn{
						margin: 10px auto 0;
						display: block;
						font-weight: 700;
						padding: 7px 20px;
						color: $cl-purple-blue;
						border: 1px solid black;
						text-transform: uppercase;
						i{
							padding-left: 10px;
							transition: 0.4s;
						}
						&:hover{
							i{
								transform: scale(1.3);
							}
						}
					}
				}
				div.active{
					opacity: 1;
					visibility: visible;
					}
					div.active-1{
					transform: translateX(100%);
					opacity: 1;
					visibility: visible;
					}
					div.active-2{
					transform: translateX(200%);
					opacity: 1;
					visibility: visible;
					}
					div.item1{
						animation: item1 0.3s forwards;
					}
					div.item2{
							animation: item2 0.3s forwards;
						}
					div.item3{
						animation: item3 0.3s forwards;
					}
					div.item4{
						animation: item4 0.3s forwards;
					}
					div.item5{
						animation: item5 0.3s forwards;
					}
					div.item6{
						animation: item6 0.3s forwards;
					}
					div.item7{
						animation: item7 0.3s forwards;
					}
					div.item8{
						animation: item8 0.3s forwards;
				}
			}
			.sl-prev{
				display: inline-block;
				position: absolute;
				top: 28%;
				left: 10px;
				display: none;
				cursor: pointer;
				i{
					font-size: 30px;
				}

			}
			.sl-next{
				cursor: pointer;
				display: inline-block;
				position: absolute;
				top: 28%;
				right: 10px;
				i{
					font-size: 30px;
				}
			}
			
		}
		
		
		.sl-sub{
			position: relative;
			p{
				width: 175px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}	/*end section slide*/
}/* end main*/

footer{
	width: 100%;
	.subcribe{
		width: 100%;
		background-image: url(https://via.placeholder.com/1050x450/000000);
		background-repeat: no-repeat;
		background-size: cover;
		.sub-content{
			width: 80%;
			margin-left: 20%;
			padding: 50px 0;
			>div.row{
				margin: 0;
				>div.row{
					margin: 0;
					padding: 0;
					>div{
						color: white;
						position: relative;
						p{
							margin-bottom: 0;
							color: white;
						}
						input{
							width: 100%;
							background-color: transparent;
							border: 1px solid white;
							padding: 10px;
							color: white;
						}
						span{
							position: absolute;
							top: 10px;
							right: 30px;
							z-index: 10;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	.contact{
		width: 100%;
		background-image: url(https://via.placeholder.com/1050x450/000000);
		background-repeat: no-repeat;
		background-size: cover;
		.contact-content{
			width: 80%;
			margin-left: 20%;
			>div.row.about{
				margin: 0;
				padding: 50px 0;
				>div.row{
					padding: 0;
					margin: 0;
					color: white;
					.list{
						margin: 0;
						>div{
							h5{
								margin-bottom: 50px;
							}
							ul{
								li{
									padding: 3px 0;
									a{
										color: white;

									}
								}
							}
						}

					}
					.about-us{
						h5{
							margin-bottom: 50px;
						}
						a{
							color: white;
							text-decoration: underline;
						}
					}
				}
				.contact-sub{
					position: relative;
					p{
						width: 150px;
						position: absolute;
						top: 50%;
						right:-25px;
						transform: translateY(-50%) rotate(90deg);
					}
				}
			}
			>div.row.footer{
				margin:0;
				padding: 20px 0;
				>div.row{
					margin: 0;
					div{
						color: white;
						h1{
							a{
								color: white;
								text-decoration: none;
							}
						}
						>a{
							color: white;
							line-height: 48px;
							padding: 0 5px;
							text-decoration: none;
							font-size: 14px;
						}
						>p{
							line-height: 48px;
							font-size: 14px;
						}
					}
				}
			}

		}
	}

}


@keyframes item1{
	0%{transform: translateX(0%);}
	100%{transform: translateX(-100%); opacity: 0; visibility: hidden}
}
@keyframes item2{
	0%{transform: translateX(100%); opacity: 1; visibility: visible;}
	100%{transform: translateX(0%); opacity: 1; visibility: visible;}
}
@keyframes item3{
	0%{transform: translateX(200%); opacity: 1; visibility: visible;}
	100%{transform: translateX(100%); opacity: 1; visibility: visible;}
}
@keyframes item4{
	0%{transform: translateX(300%); opacity: 0; visibility: hidden;}
	100%{transform: translateX(200%); opacity: 1; visibility: visible;}
}
@keyframes item5{
	0%{transform: translateX(-100%); opacity: 0; visibility: hidden;}
	100%{transform: translateX(0%); opacity: 1; visibility: visible;}
}
@keyframes item6{
	0%{transform: translateX(0%); opacity: 1; visibility: visible;}
	100%{transform: translateX(100%); opacity: 1; visibility: visible;}
}
@keyframes item7{
	0%{transform: translateX(100%); opacity: 1; visibility: visible;}
	100%{transform: translateX(200%); opacity: 1; visibility: visible;}
}
@keyframes item8{
	0%{transform: translateX(200%); opacity: 1; visibility: visible;}
	100%{transform: translateX(300%); opacity: 0; visibility: hidden;}
}
@import 'lg.scss';
@import 'md.scss';
@import 'sm.scss';
@import 'xs.scss';