* {
  font-family: "Roboto", sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

div.load-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10000;
  transition: 0.5s; }
  div.load-page svg {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    div.load-page svg .cls-1 {
      fill: none;
      stroke: #000;
      stroke-miterlimit: 10;
      stroke-width: 3px; }

/*end load page*/
div.fixed-left {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  margin-left: 5%;
  background-color: white; }
  div.fixed-left div.logo a {
    text-decoration: none; }
    div.fixed-left div.logo a h2 {
      color: #333636;
      font-size: 40px;
      font-weight: 900;
      padding: 50px 0; }
  div.fixed-left button {
    display: none; }
  div.fixed-left nav {
    width: 100%;
    /*end ul*/ }
    div.fixed-left nav ul {
      display: inline-block;
      /*end li*/ }
      div.fixed-left nav ul li {
        padding: 4px 0;
        cursor: pointer; }
        div.fixed-left nav ul li i {
          margin-left: -10px;
          transform: translateX(-50px);
          font-size: 20px;
          color: #333636;
          opacity: 0;
          visibility: hidden;
          transition: 0.4s; }
        div.fixed-left nav ul li a {
          color: #333636;
          text-decoration: none;
          font-weight: 700;
          font-size: 20px; }
        div.fixed-left nav ul li:hover i {
          transform: translateX(-20px);
          opacity: 1;
          visibility: visible; }
  div.fixed-left div.contact {
    position: absolute;
    bottom: 10px;
    left: 0; }
    div.fixed-left div.contact ul li {
      margin-bottom: 20px;
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      border-radius: 50%;
      text-align: center; }
      div.fixed-left div.contact ul li a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        text-decoration: none;
        color: #221ef9; }
      div.fixed-left div.contact ul li:hover {
        box-shadow: 0 0 10px 2px #5f5454; }

/*end fixed left*/
main {
  width: 80%;
  margin-left: 20%;
  /* end header*/
  /* end title*/
  /*end section explore*/
  /*end section description*/
  /*end section slide*/ }
  main header.row {
    padding-top: 50px;
    margin-left: 0;
    margin-right: 0;
    /*end header right*/ }
    main header.row .header-left {
      height: 48px; }
      main header.row .header-left p {
        line-height: 48px;
        margin-bottom: 0;
        font-weight: 700; }
        main header.row .header-left p span {
          color: #221ef9;
          font-size: 1.1rem; }
    main header.row .header-right {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main header.row .header-right .cart {
        cursor: pointer; }
        main header.row .header-right .cart .cart-number {
          width: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 50%;
          background-color: #221ef9;
          color: white;
          position: relative;
          transition: 0.3s; }
          main header.row .header-right .cart .cart-number:before {
            content: "\f07a";
            width: 100%;
            height: 100%;
            top: -25px;
            left: 0;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            display: block;
            position: absolute;
            transition: 0.4s;
            opacity: 0;
            visibility: hidden; }
        main header.row .header-right .cart .cart-total {
          font-weight: 900; }
        main header.row .header-right .cart:hover .cart-number {
          color: #221ef9; }
          main header.row .header-right .cart:hover .cart-number:before {
            top: 0;
            color: white;
            opacity: 1;
            visibility: visible; }
      main header.row .header-right .info .account {
        padding-right: 22px;
        border-right: 2px solid gray; }
        main header.row .header-right .info .account a {
          color: black;
          font-weight: 700; }
      main header.row .header-right .info .search {
        padding-left: 20px;
        position: relative; }
        main header.row .header-right .info .search form {
          position: absolute;
          top: -20px;
          right: 25px;
          overflow: hidden;
          transition: 0.4s;
          opacity: 0;
          visibility: hidden; }
          main header.row .header-right .info .search form input {
            border-radius: 5px;
            border: none;
            transition: 0.4s;
            border: 1px solid black;
            padding: 0 5px; }
        main header.row .header-right .info .search i {
          transition: 0.4s;
          cursor: pointer;
          font-size: 20px; }
        main header.row .header-right .info .search:hover form {
          top: -5px;
          opacity: 1;
          visibility: visible; }
        main header.row .header-right .info .search:hover i {
          transform: rotate(90deg); }
  main header.row.fixed {
    position: fixed;
    padding-top: 0;
    width: 80%;
    top: 0;
    left: 20%;
    z-index: 20;
    background-color: white;
    box-shadow: 9px 0px 10px 1px gray; }
  main section.title {
    margin: 0;
    margin-top: 100px;
    /* end title main*/ }
    main section.title .title-main {
      border-bottom: 1px solid gray; }
      main section.title .title-main > h2.row {
        margin: 0; }
      main section.title .title-main div.row.price {
        margin: 0; }
        main section.title .title-main div.row.price h2 {
          padding: 0;
          font-weight: 900; }
        main section.title .title-main div.row.price > div {
          padding: 0; }
          main section.title .title-main div.row.price > div span.new-price {
            font-size: 25px;
            color: #221ef9;
            padding-right: 10px; }
          main section.title .title-main div.row.price > div span.text-muted {
            text-decoration: line-through;
            font-size: 25px; }
          main section.title .title-main div.row.price > div button.btn {
            margin-left: 10px;
            font-weight: 700;
            padding: 7px 10px;
            color: #221ef9;
            border: 1px solid black;
            text-transform: uppercase; }
            main section.title .title-main div.row.price > div button.btn i {
              padding-left: 40px;
              transition: 0.4s; }
            main section.title .title-main div.row.price > div button.btn:hover i {
              transform: scale(1.3); }
      main section.title .title-main div.row.race {
        margin: 0;
        padding: 30px 0; }
        main section.title .title-main div.row.race > div {
          padding: 0; }
          main section.title .title-main div.row.race > div span.id {
            padding-right: 10px; }
            main section.title .title-main div.row.race > div span.id p {
              font-weight: 700; }
          main section.title .title-main div.row.race > div span.star {
            padding-left: 10px;
            border-left: 1px solid gray; }
            main section.title .title-main div.row.race > div span.star i {
              color: #221ef9; }
          main section.title .title-main div.row.race > div p span {
            color: green;
            font-weight: 700; }
  main section.image {
    margin: 70px 0; }
    main section.image .img-main {
      background-color: #3e453e;
      padding: 50px 0; }
      main section.image .img-main > div.row {
        margin: 0; }
        main section.image .img-main > div.row > div.row.thum {
          margin: 0; }
          main section.image .img-main > div.row > div.row.thum img {
            min-width: 150px;
            max-height: 100px;
            margin: 10px auto;
            background-color: #cccccc;
            overflow: hidden; }
          main section.image .img-main > div.row > div.row.thum img:hover {
            border: 3px solid #221ef9; }
          main section.image .img-main > div.row > div.row.thum img.active {
            border: 3px solid #221ef9; }
        main section.image .img-main > div.row > div.view img {
          border-radius: 50%; }
    main section.image .img-sub {
      position: relative; }
      main section.image .img-sub p {
        width: 150px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%) rotate(90deg); }
  main section.description {
    margin: 0;
    /* end des main*/ }
    main section.description .des-main {
      padding: 0;
      /*end row*/ }
      main section.description .des-main > div.row {
        margin: 0;
        /*end left*/
        /*end right*/ }
        main section.description .des-main > div.row > div.left {
          padding: 0; }
          main section.description .des-main > div.row > div.left > div.row {
            padding: 0;
            margin: 0; }
            main section.description .des-main > div.row > div.left > div.row > div.img {
              padding: 0; }
            main section.description .des-main > div.row > div.left > div.row > div.content {
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: center; }
        main section.description .des-main > div.row > div.right {
          padding: 0 0 0 100px; }
          main section.description .des-main > div.row > div.right .link a {
            display: block;
            color: black;
            padding: 7px 0;
            font-weight: 700; }
          main section.description .des-main > div.row > div.right .link a:first-child {
            color: #221ef9;
            text-decoration: underline; }
          main section.description .des-main > div.row > div.right .info {
            padding: 50px 0; }
            main section.description .des-main > div.row > div.right .info .price {
              font-size: 30px;
              font-weight: 700;
              color: #221ef9;
              margin-bottom: 0; }
            main section.description .des-main > div.row > div.right .info p.text-muted {
              font-weight: 400;
              font-size: 25px;
              text-decoration: line-through; }
            main section.description .des-main > div.row > div.right .info .star i {
              color: #221ef9; }
            main section.description .des-main > div.row > div.right .info button.btn {
              margin: 20px 0;
              font-weight: 700;
              padding: 7px 10px;
              color: #221ef9;
              border: 1px solid black;
              text-transform: uppercase; }
              main section.description .des-main > div.row > div.right .info button.btn i {
                padding-left: 40px;
                transition: 0.4s; }
              main section.description .des-main > div.row > div.right .info button.btn:hover i {
                transform: scale(1.3); }
            main section.description .des-main > div.row > div.right .info p span {
              color: green;
              font-weight: 700; }
          main section.description .des-main > div.row > div.right .back a {
            color: black;
            text-decoration: underline; }
    main section.description .des-sub {
      position: relative; }
      main section.description .des-sub p {
        width: 175px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%) rotate(90deg); }
  main section.specification {
    margin: 70px 0; }
    main section.specification .spec-main {
      padding: 0; }
      main section.specification .spec-main > div.row {
        margin: 0; }
        main section.specification .spec-main > div.row > div.left {
          padding: 0;
          margin: 0; }
          main section.specification .spec-main > div.row > div.left .title {
            margin: 0;
            padding: 20px 0; }
          main section.specification .spec-main > div.row > div.left .content {
            margin: 0;
            padding: 20px 0;
            border-bottom: 1px solid gray; }
            main section.specification .spec-main > div.row > div.left .content > div {
              padding: 0; }
          main section.specification .spec-main > div.row > div.left .file {
            margin: 50px 0 0; }
            main section.specification .spec-main > div.row > div.left .file .file-item {
              display: flex;
              margin-right: 20px;
              cursor: pointer; }
              main section.specification .spec-main > div.row > div.left .file .file-item i {
                font-size: 45px;
                color: #221ef9; }
              main section.specification .spec-main > div.row > div.left .file .file-item span p {
                margin-bottom: 0;
                padding-left: 10px; }
    main section.specification .spec-sub {
      position: relative; }
      main section.specification .spec-sub p {
        width: 175px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%) rotate(90deg); }
  main section.review {
    margin: 0;
    /*end re main*/ }
    main section.review .re-main {
      padding: 0;
      /*end row*/ }
      main section.review .re-main > div.row {
        margin: 0; }
        main section.review .re-main > div.row > div {
          padding: 0; }
          main section.review .re-main > div.row > div .re-item {
            padding-bottom: 30px;
            border-bottom: 1px solid gray; }
            main section.review .re-main > div.row > div .re-item .re-item-head {
              margin: 20px 0; }
              main section.review .re-main > div.row > div .re-item .re-item-head .head-name {
                display: flex;
                padding: 0; }
                main section.review .re-main > div.row > div .re-item .re-item-head .head-name p.name {
                  padding-right: 10px;
                  margin-bottom: 0; }
                main section.review .re-main > div.row > div .re-item .re-item-head .head-name i {
                  margin-top: 5px; }
                main section.review .re-main > div.row > div .re-item .re-item-head .head-name p.time {
                  padding-left: 10px;
                  margin-bottom: 0; }
              main section.review .re-main > div.row > div .re-item .re-item-head .star {
                padding: 0; }
                main section.review .re-main > div.row > div .re-item .re-item-head .star i {
                  color: #221ef9; }
          main section.review .re-main > div.row > div .more div.row {
            margin: 60px 0 0; }
            main section.review .re-main > div.row > div .more div.row button.btn {
              font-weight: 700;
              padding: 7px 10px;
              color: #221ef9;
              border: 1px solid black;
              text-transform: uppercase; }
              main section.review .re-main > div.row > div .more div.row button.btn i {
                padding-left: 40px;
                transition: 0.4s; }
              main section.review .re-main > div.row > div .more div.row button.btn:hover i {
                transform: scale(1.3); }
            main section.review .re-main > div.row > div .more div.row a {
              padding: 0;
              color: black;
              text-decoration: underline;
              font-weight: 700;
              line-height: 40px; }
    main section.review .re-sub {
      position: relative; }
      main section.review .re-sub p {
        width: 175px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%) rotate(90deg); }
  main section.slide {
    margin: 70px 0; }
    main section.slide .slide-title {
      margin-bottom: 20px; }
      main section.slide .slide-title a {
        color: black;
        text-decoration: underline;
        line-height: 40px; }
    main section.slide .slide-main {
      position: relative;
      overflow: hidden; }
      main section.slide .slide-main .sl-inner {
        position: relative;
        width: 100%;
        height: 460px; }
        main section.slide .slide-main .sl-inner > div {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          transition: 2s;
          padding: 0 30px; }
          main section.slide .slide-main .sl-inner > div h5 {
            text-align: center;
            padding: 10px 0; }
          main section.slide .slide-main .sl-inner > div span.price {
            font-size: 20px;
            color: #221ef9;
            font-weight: 700; }
          main section.slide .slide-main .sl-inner > div span.text-muted {
            text-decoration: line-through;
            font-size: 20px;
            font-weight: 700; }
          main section.slide .slide-main .sl-inner > div button.btn {
            margin: 10px auto 0;
            display: block;
            font-weight: 700;
            padding: 7px 20px;
            color: #221ef9;
            border: 1px solid black;
            text-transform: uppercase; }
            main section.slide .slide-main .sl-inner > div button.btn i {
              padding-left: 10px;
              transition: 0.4s; }
            main section.slide .slide-main .sl-inner > div button.btn:hover i {
              transform: scale(1.3); }
        main section.slide .slide-main .sl-inner div.active {
          opacity: 1;
          visibility: visible; }
        main section.slide .slide-main .sl-inner div.active-1 {
          transform: translateX(100%);
          opacity: 1;
          visibility: visible; }
        main section.slide .slide-main .sl-inner div.active-2 {
          transform: translateX(200%);
          opacity: 1;
          visibility: visible; }
        main section.slide .slide-main .sl-inner div.item1 {
          animation: item1 0.3s forwards; }
        main section.slide .slide-main .sl-inner div.item2 {
          animation: item2 0.3s forwards; }
        main section.slide .slide-main .sl-inner div.item3 {
          animation: item3 0.3s forwards; }
        main section.slide .slide-main .sl-inner div.item4 {
          animation: item4 0.3s forwards; }
        main section.slide .slide-main .sl-inner div.item5 {
          animation: item5 0.3s forwards; }
        main section.slide .slide-main .sl-inner div.item6 {
          animation: item6 0.3s forwards; }
        main section.slide .slide-main .sl-inner div.item7 {
          animation: item7 0.3s forwards; }
        main section.slide .slide-main .sl-inner div.item8 {
          animation: item8 0.3s forwards; }
      main section.slide .slide-main .sl-prev {
        display: inline-block;
        position: absolute;
        top: 28%;
        left: 10px;
        display: none;
        cursor: pointer; }
        main section.slide .slide-main .sl-prev i {
          font-size: 30px; }
      main section.slide .slide-main .sl-next {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 28%;
        right: 10px; }
        main section.slide .slide-main .sl-next i {
          font-size: 30px; }
    main section.slide .sl-sub {
      position: relative; }
      main section.slide .sl-sub p {
        width: 175px;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%) rotate(90deg); }

/* end main*/
footer {
  width: 100%; }
  footer .subcribe {
    width: 100%;
    background-image: url(https://via.placeholder.com/1050x450/000000);
    background-repeat: no-repeat;
    background-size: cover; }
    footer .subcribe .sub-content {
      width: 80%;
      margin-left: 20%;
      padding: 50px 0; }
      footer .subcribe .sub-content > div.row {
        margin: 0; }
        footer .subcribe .sub-content > div.row > div.row {
          margin: 0;
          padding: 0; }
          footer .subcribe .sub-content > div.row > div.row > div {
            color: white;
            position: relative; }
            footer .subcribe .sub-content > div.row > div.row > div p {
              margin-bottom: 0;
              color: white; }
            footer .subcribe .sub-content > div.row > div.row > div input {
              width: 100%;
              background-color: transparent;
              border: 1px solid white;
              padding: 10px;
              color: white; }
            footer .subcribe .sub-content > div.row > div.row > div span {
              position: absolute;
              top: 10px;
              right: 30px;
              z-index: 10;
              cursor: pointer; }
  footer .contact {
    width: 100%;
    background-image: url(https://via.placeholder.com/1050x450/000000);
    background-repeat: no-repeat;
    background-size: cover; }
    footer .contact .contact-content {
      width: 80%;
      margin-left: 20%; }
      footer .contact .contact-content > div.row.about {
        margin: 0;
        padding: 50px 0; }
        footer .contact .contact-content > div.row.about > div.row {
          padding: 0;
          margin: 0;
          color: white; }
          footer .contact .contact-content > div.row.about > div.row .list {
            margin: 0; }
            footer .contact .contact-content > div.row.about > div.row .list > div h5 {
              margin-bottom: 50px; }
            footer .contact .contact-content > div.row.about > div.row .list > div ul li {
              padding: 3px 0; }
              footer .contact .contact-content > div.row.about > div.row .list > div ul li a {
                color: white; }
          footer .contact .contact-content > div.row.about > div.row .about-us h5 {
            margin-bottom: 50px; }
          footer .contact .contact-content > div.row.about > div.row .about-us a {
            color: white;
            text-decoration: underline; }
        footer .contact .contact-content > div.row.about .contact-sub {
          position: relative; }
          footer .contact .contact-content > div.row.about .contact-sub p {
            width: 150px;
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%) rotate(90deg); }
      footer .contact .contact-content > div.row.footer {
        margin: 0;
        padding: 20px 0; }
        footer .contact .contact-content > div.row.footer > div.row {
          margin: 0; }
          footer .contact .contact-content > div.row.footer > div.row div {
            color: white; }
            footer .contact .contact-content > div.row.footer > div.row div h1 a {
              color: white;
              text-decoration: none; }
            footer .contact .contact-content > div.row.footer > div.row div > a {
              color: white;
              line-height: 48px;
              padding: 0 5px;
              text-decoration: none;
              font-size: 14px; }
            footer .contact .contact-content > div.row.footer > div.row div > p {
              line-height: 48px;
              font-size: 14px; }

@keyframes item1 {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden; } }
@keyframes item2 {
  0% {
    transform: translateX(100%);
    opacity: 1;
    visibility: visible; }
  100% {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible; } }
@keyframes item3 {
  0% {
    transform: translateX(200%);
    opacity: 1;
    visibility: visible; }
  100% {
    transform: translateX(100%);
    opacity: 1;
    visibility: visible; } }
@keyframes item4 {
  0% {
    transform: translateX(300%);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateX(200%);
    opacity: 1;
    visibility: visible; } }
@keyframes item5 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible; } }
@keyframes item6 {
  0% {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible; }
  100% {
    transform: translateX(100%);
    opacity: 1;
    visibility: visible; } }
@keyframes item7 {
  0% {
    transform: translateX(100%);
    opacity: 1;
    visibility: visible; }
  100% {
    transform: translateX(200%);
    opacity: 1;
    visibility: visible; } }
@keyframes item8 {
  0% {
    transform: translateX(200%);
    opacity: 1;
    visibility: visible; }
  100% {
    transform: translateX(300%);
    opacity: 0;
    visibility: hidden; } }
@media screen and (max-width: 1200px) {
  section.explore .ex-main .ex-main-content .ex-main-item h4 {
    font-size: 20px; }
  section.explore .ex-main .ex-main-content .ex-main-item button.btn {
    padding: 5px 15px;
    font-size: 14px; }
    section.explore .ex-main .ex-main-content .ex-main-item button.btn i {
      padding-left: 10px;
      transition: 0.4s; }
    section.explore .ex-main .ex-main-content .ex-main-item button.btn:hover i {
      transform: translateX(10px); }

  /*end section explore*/ }
@media screen and (max-width: 992px) {
  div.fixed-left {
    width: 100%;
    height: 80px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    div.fixed-left div.logo a h2 {
      color: #333636;
      font-size: 40px;
      font-weight: 900;
      padding: 0 50px;
      margin: 0; }
    div.fixed-left nav {
      width: auto;
      padding: 0 50px;
      /*end ul*/ }
      div.fixed-left nav ul {
        margin: 0;
        /*end li*/ }
        div.fixed-left nav ul li {
          display: inline-block;
          padding: 0 20px;
          cursor: pointer; }
          div.fixed-left nav ul li i {
            display: none; }
          div.fixed-left nav ul li a {
            color: #333636;
            text-decoration: none;
            font-weight: 700;
            font-size: 20px; }
          div.fixed-left nav ul li:hover a {
            border-bottom: 3px solid black; }
    div.fixed-left div.contact {
      display: none; }

  main {
    width: 100%;
    margin-left: 0;
    /* end header*/ }
    main header.row {
      margin-top: 80px;
      /*end header right*/ }
      main header.row .header-right {
        justify-content: center; }
        main header.row .header-right .cart {
          margin-right: 20px; }
          main header.row .header-right .cart .cart-number {
            border: 1px solid black;
            width: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
            background-color: #221ef9;
            color: white; }
          main header.row .header-right .cart .cart-total {
            font-weight: 900; }
        main header.row .header-right .info .account {
          padding-right: 22px;
          border-right: 2px solid gray; }
          main header.row .header-right .info .account a {
            color: black; }
        main header.row .header-right .info .search {
          padding-left: 20px;
          position: relative; }
          main header.row .header-right .info .search form {
            position: static;
            overflow: hidden;
            transition: 0.4s;
            opacity: 1;
            visibility: visible; }

  /* end main*/
  footer .subcribe .sub-content {
    width: 100%;
    margin-left: 0; }
  footer .contact .contact-content {
    width: 100%;
    margin-left: 0; } }
@media screen and (max-width: 768px) {
  div.fixed-left {
    height: auto;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    /*end nav*/ }
    div.fixed-left button {
      display: block;
      margin-right: 50px;
      background-color: transparent;
      border: none; }
      div.fixed-left button i {
        font-size: 30px; }
    div.fixed-left nav {
      display: none;
      width: 100%;
      /*end ul*/ }
      div.fixed-left nav ul {
        display: block;
        padding-bottom: 20px;
        /*end li*/ }
        div.fixed-left nav ul li {
          display: block;
          text-align: center;
          padding: 3px 0; }
          div.fixed-left nav ul li a {
            color: #333636;
            text-decoration: none;
            font-weight: 700;
            font-size: 20px; }
            div.fixed-left nav ul li a:hover {
              color: #221ef9; }
          div.fixed-left nav ul li:hover a {
            border: none; }

  /*end div fixed left*/
  section.image .img-main > div.row {
    display: flex; }
    section.image .img-main > div.row > div.row.thum.ac {
      display: flex; }
      section.image .img-main > div.row > div.row.thum.ac img {
        min-width: 250px;
        max-height: 250px; }
      section.image .img-main > div.row > div.row.thum.ac img.active {
        border: none; } }
/*end media*/
@media screen and (max-width: 576px) {
  main {
    /* end header*/
    /* end section explore*/ }
    main header.row {
      /*end header right*/ }
      main header.row .header-right {
        display: block; }
        main header.row .header-right .cart {
          margin: 0;
          padding: 10px 0;
          text-align: center; }
        main header.row .header-right .info {
          padding: 10px 0;
          text-align: center; }
          main header.row .header-right .info .account {
            padding-right: 22px;
            border-right: 2px solid gray; }
            main header.row .header-right .info .account a {
              color: black;
              font-weight: 700; }
          main header.row .header-right .info .search i {
            display: none; }
    main section.explore .ex-main .ex-main-title div.ex-view {
      justify-content: space-around; }
    main section.explore .ex-main .ex-main-content .ex-main-item h4 {
      font-size: 18px; }
    main section.explore .ex-main .ex-main-content .ex-main-item button.btn {
      padding: 8px 20px !important; }
    main section.colections .colec-main .colec-main-title div.colec-view {
      justify-content: space-around; }
    main section.colections .colec-main .colec-main-content .colec-main-view .colec-main-view-item {
      position: static;
      visibility: visible;
      opacity: 1; }
      main section.colections .colec-main .colec-main-content .colec-main-view .colec-main-view-item > div.row h3 {
        padding: 10px 0; }
      main section.colections .colec-main .colec-main-content .colec-main-view .colec-main-view-item > div.row p {
        padding: 10px 0; }
      main section.colections .colec-main .colec-main-content .colec-main-view .colec-main-view-item > div.row > div {
        padding: 10px 0; }
        main section.colections .colec-main .colec-main-content .colec-main-view .colec-main-view-item > div.row > div button {
          padding: 7px 20px; }

  /* end main*/ }

/*# sourceMappingURL=main.css.map */
