$fnt-robo: 'Roboto', sans-serif;
$cl-black: #333636;
$cl-purple-blue: #221ef9;
*{
	font-family: $fnt-robo;
}
html, body {
	width: 100%;
	height: 100%;
}
div.load-page{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 10000;
	transition: 0.5s;
	svg{
		max-width: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.cls-1 {
			fill: none;
			stroke: #000;
			stroke-miterlimit: 10;
			stroke-width: 3px;
		}
	}
}
/*end load page*/
div.fixed-left{
	width: 15%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	margin-left: 5%;
	background-color: white;
	div.logo{
		a{
			text-decoration: none;
			h2{
			color: $cl-black;
			font-size: 40px;
			font-weight: 900;
			padding: 50px 0;
			}
		}
	}
	button{
		display: none;
	}
	nav{
		width: 100%;
		ul{
			display: inline-block;
			li{
				padding: 4px 0;
				cursor: pointer;
				i{
					margin-left: -10px;
					transform: translateX(-50px);
					font-size: 20px;
					color: $cl-black;
					opacity: 0;
					visibility: hidden;
					transition: 0.4s;
				}
				a{
					color: $cl-black;
					text-decoration: none;
					font-weight: 700;
					font-size: 20px;
				}
				&:hover{
					i{
						transform: translateX(-20px);
						opacity: 1;
						visibility: visible;
					}
				}
			} /*end li*/
		} /*end ul*/
	}
	div.contact{
		position: absolute;
		bottom: 10px;
		left: 0;
		ul{
			li{
				margin-bottom: 20px;
				width: 40px;
				height: 40px;
				border: 1px solid gray;
				border-radius: 50%;
				text-align: center;
				a{
					display: block;
					width: 100%;
					height: 100%;
					line-height: 40px;
					text-decoration: none;
					color: $cl-purple-blue;
				}
				&:hover{
					box-shadow: 0 0 10px 2px #5f5454;
				}
			}

		}
	}
}
/*end fixed left*/
main{
	width: 80%;
	margin-left: 20%;
	header.row{
		padding-top: 50px;
		margin-left: 0;
		margin-right: 0;
		.header-left{
			height: 48px;
			p{
				line-height: 48px; 
				margin-bottom: 0;
				font-weight: 700;
				span{
					color: $cl-purple-blue;
					font-size: 1.1rem;
				}
			}
		}
		.header-right{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.cart{
				cursor: pointer;
				.cart-number{
					width: 30px;
					text-align: center;
					line-height: 30px;
					border-radius: 50%;
					background-color: $cl-purple-blue;
					color: white;
					position: relative;
					transition: 0.3s;
					&:before{
						content:"\f07a";
						width: 100%;
						height: 100%;
						top: -25px;
						left: 0;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						display: block;
						position: absolute;
						transition: 0.4s;
						opacity: 0;
						visibility: hidden;
					}

				}
				.cart-total{
					font-weight: 900;
				}
				&:hover{
						.cart-number{
							color: $cl-purple-blue;
							&:before{
								top:0;
								color: white;
								opacity: 1;
								visibility: visible;
							}
						}
				}
			}
			.info{
				.account{
					padding-right: 22px;
					border-right: 2px solid gray;
					a{
						color: black;
						font-weight: 700;

					}
				}
				.search{
					padding-left: 20px;
					position: relative;
					form{
						position: absolute;
						top: -20px;
						right: 25px;
						overflow: hidden;
						transition: 0.4s;
						opacity: 0;
						visibility: hidden;
						input{
							border-radius: 5px;
							border: none;
							transition: 0.4s;
							border: 1px solid black;
							padding: 0 5px;
						}
					}
					i{
						transition: 0.4s;
						cursor: pointer;
						font-size: 20px;
					}
					&:hover{
						form{
								top: -5px;
								opacity: 1;
								visibility: visible;
						}
						i{
							transform: rotate(90deg);
						}
					}
				}
			}
		} /*end header right*/
	}/* end header*/
	header.row.fixed{
		position: fixed;
		padding-top: 0;
		width: 80%;
		top: 0;
		left: 20%;
		z-index: 20;
		background-color: white;
		box-shadow: 9px 0px 10px 1px gray;
	}
	section.explore{
		margin: 70px 0 ;
		.ex-main{
			.ex-main-title{
				padding: 20px 0;
				h1{
					font-weight: 300;
					margin-bottom: 0;
					span{
						font-weight: 700;
					}
				}
				div.ex-view{
					display: flex;
					justify-content: flex-end;
					align-items: flex-end;
					a{
						color: $cl-black;
						text-decoration: underline;
						height: 20px;
						&:hover{
							color: $cl-purple-blue;
						}
					}
				}
			}
			/*end ex main title*/
			.ex-main-content{
				.ex-main-item{
					padding-top: 15px;
					img{}
					h4{
						margin: 0;
						padding: 15px 0;
					}
					button.btn{
						font-weight: 700;
						padding: 10px 30px;
						color: $cl-purple-blue;
						border: 1px solid black;
						text-transform: uppercase;
						i{
							padding-left: 10px;
							transition: 0.4s;
						}
						&:hover{
							i{
								transform: translateX(10px);
							}
						}
					}
				}
			}
		}/* end ex-main*/
		.ex-sub{
			position: relative;
			p{
				width: 150px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	} /*end section explore*/
	section.colections{
		margin: 70px 0 ;
		.colec-main{
			.colec-main-title{
				padding: 20px 0;
				h1{
					font-weight: 300;
					margin-bottom: 0;
					span{
						font-weight: 700;
					}
				}
				div.colec-view{
					display: flex;
					justify-content: flex-end;
					align-items: flex-end;
					a{
						color: $cl-black;
						text-decoration: underline;
						height: 20px;
						&:hover{
							color: $cl-purple-blue;
						}
					}
				}
			}
			/*end ex main title*/
			.colec-main-content{
				.colec-main-list{
					display: flex;
					width: 100%;
					margin-left: 5px;
					>div{
						width: 25%;
						border: 2px solid black;
						padding: 10px 10px;
						margin-left: -2px;
						position: relative;
						text-align: center;
						font-weight: 700;
						cursor: pointer;
						&:hover{
							border-color: $cl-purple-blue;
							color: $cl-purple-blue;
							z-index: 3;
						}
					}
					>div.active{
						border-color: $cl-purple-blue;
						color: $cl-purple-blue;
						z-index: 3;
					}
				}
				.colec-main-view{
					margin: 40px 0;
					position: relative;
					.colec-main-view-item{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						opacity: 0;
						visibility: hidden;
						transition: 0.4s;
						img{
							width: 100%;
						}
						>div.row{
							margin: 40px 0;
							h3{
								padding: 0;
								margin: 0;
							}
							p{
								margin: 0;
							}
							>div{
								button{
									font-weight: 700;
									padding: 10px 30px;
									color: $cl-purple-blue;
									border: 1px solid black;
									text-transform: uppercase;
									i{
										padding-left: 10px;
										transition: 0.4s;
									}
									&:hover{
										i{
											transform: translateX(10px);
										}
									}
								}
							}
						} /*end row*/
					} /*end item*/
					.colec-main-view-item:first-child{
						position: static;
					}
					.colec-main-view-item.active{
						opacity: 1;
						visibility: visible;
					}
				} /*end colec main view*/
				.colec-main-number{
					span:first-child{
						color: $cl-purple-blue;
						font-size: 20px;
						font-weight: 900;
					}
					span:nth-child(2){
						display: inline-block;
						width: 30px;
						background-color: black;
						height: 3px;
						margin: 0 10px 5px 10px ;
					}
					span:last-child{
						font-size: 20px;
						font-weight: 900;
					}
				}
			} /*end colec main content*/
		}/* end ex-main*/
		.colec-sub{
			position: relative;
			p{
				width: 150px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	} /*end section explore*/
	section.slide{
		margin: 70px 0 ;
		.slide-main{
			position: relative;
			overflow: hidden;
			.sl-inner{
				position: relative;
				width: 100%;
				height: 460px;

				>div{
				position: absolute;
				opacity: 0;
				visibility: hidden;
				transition: 2s;
				padding: 0 30px;
					img{

					}
					h5{
						text-align: center;
						padding: 10px 0;
					}
					span.price{
						font-size: 20px;
						color: $cl-purple-blue;
						font-weight: 700;
					}
					span.text-muted{
						text-decoration: line-through;
						font-size: 20px;
						font-weight: 700;
					}
					button.btn{
						margin: 10px auto 0;
						display: block;
						font-weight: 700;
						padding: 7px 20px;
						color: $cl-purple-blue;
						border: 1px solid black;
						text-transform: uppercase;
						i{
							padding-left: 10px;
							transition: 0.4s;
						}
						&:hover{
							i{
								transform: scale(1.3);
							}
						}
					}
				}
				div.active{
					opacity: 1;
					visibility: visible;
					}
					div.active-1{
					transform: translateX(100%);
					opacity: 1;
					visibility: visible;
					}
					div.active-2{
					transform: translateX(200%);
					opacity: 1;
					visibility: visible;
					}
					div.item1{
						animation: item1 0.3s forwards;
					}
					div.item2{
							animation: item2 0.3s forwards;
						}
					div.item3{
						animation: item3 0.3s forwards;
					}
					div.item4{
						animation: item4 0.3s forwards;
					}
					div.item5{
						animation: item5 0.3s forwards;
					}
					div.item6{
						animation: item6 0.3s forwards;
					}
					div.item7{
						animation: item7 0.3s forwards;
					}
					div.item8{
						animation: item8 0.3s forwards;
				}
			}
			.sl-prev{
				display: inline-block;
				position: absolute;
				top: 28%;
				left: 10px;
				display: none;
				i{
					font-size: 30px;
				}

			}
			.sl-next{
				display: inline-block;
				position: absolute;
				top: 28%;
				right: 10px;
				i{
					font-size: 30px;
				}
			}
			
		}
		
		
		.sl-sub{
			position: relative;
			p{
				width: 175px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}	/*end section slide*/
	section.weekender{
		margin: 70px 0 0;
		.wk-main{
			background-image: url(https://via.placeholder.com/950x350);
			margin: 0;
			background-repeat: no-repeat;
			background-size: cover;
			.wk-main-content{
			padding: 100px 0;

			h3{
				font-weight: 700;
				font-size: 35px;
			}
			p{
				span{
					font-weight: 700;
				}
			}
			button.btn{
						font-weight: 700;
						padding: 10px 30px;
						color: $cl-purple-blue;
						border: 1px solid black;
						text-transform: uppercase;
						i{
							padding-left: 30px;
							transition: 0.4s;
						}
						&:hover{
							i{
								transform: translateX(10px);
							}
						}
					}
			}
		}
		.wk-sub{
			position: relative;
			p{
				width: 150px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	section.archive{
		margin: 0 0 200px;
		.ar-main{
			background-image: url(https://via.placeholder.com/1000x400);
			margin: 0;
			background-repeat: no-repeat;
			background-size: cover;
			.ar-main-content{
			padding: 100px 0;

			h3{
				font-weight: 700;
				font-size: 35px;
			}
			p{
				span{
					font-weight: 700;
				}
			}
			button.btn{
						font-weight: 700;
						padding: 10px 30px;
						color: $cl-purple-blue;
						border: 1px solid black;
						text-transform: uppercase;
						i{
							padding-left: 30px;
							transition: 0.4s;
						}
						&:hover{
							i{
								transform: translateX(10px);
							}
						}
					}
			}
		}
		.ar-sub{
			position: relative;
			p{
				width: 150px;
				position: absolute;
				top: 50%;
				right:-30px;
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
}/* end main*/
@keyframes item1{
	0%{transform: translateX(0%);}
	100%{transform: translateX(-100%); opacity: 0; visibility: hidden}
}
@keyframes item2{
	0%{transform: translateX(100%); opacity: 1; visibility: visible;}
	100%{transform: translateX(0%); opacity: 1; visibility: visible;}
}
@keyframes item3{
	0%{transform: translateX(200%); opacity: 1; visibility: visible;}
	100%{transform: translateX(100%); opacity: 1; visibility: visible;}
}
@keyframes item4{
	0%{transform: translateX(300%); opacity: 0; visibility: hidden;}
	100%{transform: translateX(200%); opacity: 1; visibility: visible;}
}
@keyframes item5{
	0%{transform: translateX(-100%); opacity: 0; visibility: hidden;}
	100%{transform: translateX(0%); opacity: 1; visibility: visible;}
}
@keyframes item6{
	0%{transform: translateX(0%); opacity: 1; visibility: visible;}
	100%{transform: translateX(100%); opacity: 1; visibility: visible;}
}
@keyframes item7{
	0%{transform: translateX(100%); opacity: 1; visibility: visible;}
	100%{transform: translateX(200%); opacity: 1; visibility: visible;}
}
@keyframes item8{
	0%{transform: translateX(200%); opacity: 1; visibility: visible;}
	100%{transform: translateX(300%); opacity: 0; visibility: hidden;}
}
@import 'lg.scss';
@import 'md.scss';
@import 'sm.scss';
@import 'xs.scss';