@media screen and (max-width: 992px){
	div.fixed-left{
		width: 100%;
		height:80px;
		margin-left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		div.logo{
			a{
				h2{
					color: $cl-black;
					font-size: 40px;
					font-weight: 900;
					padding: 0 50px;
					margin: 0;
				}
			}
		}
		nav{
			width: auto;
			padding: 0 50px;
			ul{
				margin: 0;
				li{
					display: inline-block;
					padding: 0 20px;
					cursor: pointer;
					i{
						display: none;
					}
					a{
						color: $cl-black;
						text-decoration: none;
						font-weight: 700;
						font-size: 20px;
					}
					&:hover{
						a{
							border-bottom: 3px solid black;
						}
					}
					} /*end li*/
					} /*end ul*/
				}
				div.contact{
					display: none;
				}
	}
	main{
		width: 100%;
		margin-left: 0;
		header.row{
			margin-top: 80px;
			.header-right{
				justify-content: center;
				.cart{
					margin-right: 20px;
					.cart-number{
						border: 1px solid black;
						width: 30px;
						text-align: center;
						line-height: 30px;
						border-radius: 50%;
						background-color: $cl-purple-blue;
						color: white;
					}
					.cart-total{
						font-weight: 900;
					}
				}
				.info{
					.account{
						padding-right: 22px;
						border-right: 2px solid gray;
						a{
							color: black;

						}
					}
					.search{
						padding-left: 20px;
						position: relative;
						form{
							position: static;
							overflow: hidden;
							transition: 0.4s;
							opacity: 1;
							visibility: visible;
						}
					}
				}
			} /*end header right*/
		}/* end header*/
	}/* end main*/
}