@media screen and (max-width: 768px){
	header{
		.container{
			.text-intro{
				padding: 150px 0 100px 0;
				.text-greeting{
					font-size: 22px;
					line-height: 22px;

				}
				h1.intro-heading{
					font-size: 50px;
					line-height: 50px;
					margin-bottom: 25px;
				}
			}
		}
	}
	section#services {
		padding: 100px 0;
	}
	section#portfolio{
		padding: 100px 0;
	}
	section#team{
		padding: 100px 0;
		.container{
			div.row-content{
				.team-item{
					.team-item-img{
						/*always show icon facebook */
						a{
							position: absolute;
							bottom: 20px;
							left: 50%;
							transform: translateX(-50%);
							z-index: 3;
							cursor: pointer;
							transition: 0.6s;
							opacity: 1;
							visibility: visible;

						}
					}
				}
			}
		}
	}
	section#about-regard{
		padding: 100px 0;
	}
	section#contact{
		padding: 100px 0;
	}
}