/*var color*/
$bg-menu: #222222;
$color-blue: #2e8ef5;
$color-hover-menu: #0056b3;
$bg-button-menu: #fed136;
$color-white: white;
$color-black: #212529;
/*var font*/
$font-logo: 'Kaushan Script', cursive;
$font-menu: 'Montserrat', sans-serif;
$font-title: 'Droid Serif', Arial, sans-serif;
$font-text: 'Roboto Slab', serif;

/*var size*/
$font-size-logo-lg: 1.75em;
$font-size-logo: 1.25em;
$font-size-menu: 1rem;
/*css for intro loading*/
.load{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	.loading{
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 9999;
	img{
		position: absolute;
		max-width: 200px;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-90%);
		filter: drop-shadow(0 0 10px white);
	}
	div{
		width: 30px;
		height: 30px;
		border: 4px solid $color-blue;
		border-right: 4px solid #0000ff00;
		border-radius: 50%;
		position: absolute;
		top: 60%;
		left: 50%;
		transition: 8s;
		animation: spin 7s linear infinite;
		}
}
}
body.over-hid{
	overflow:hidden;
}
@keyframes spin{
	0%{transform: translate(-50%, -50%) rotate(0deg); }
	100%{transform:  translate(-50%, -50%) rotate(3600deg);}
}
/*css for navigation*/
nav.navbar{
	padding: 25px 16px;
	transition: 0.4s;
	.container{
		a.navbar-brand{
			color: $color-blue;
			font-family: $font-logo;
			font-size: $font-size-logo-lg;
		}
		button{
			font-size: 12px;
			color: white;
			padding: 13px;
			line-height: 1;
			border-radius: .25em;
			font-family: $font-menu;
			background-color: $bg-button-menu;
			border: none;
			i{
				margin-left: 3px;
			}
		}
		div{
			ul{
				font-size: $font-size-menu;
				font-weight: 400;
				line-height: 1.5;
				li{
					a.nav-link{
						font-family: $font-menu;
						font-size: 90%;
						font-weight: 400;
						letter-spacing: 1px;
						padding: 1.1em 1em;
						color: white;
						text-transform: uppercase;
					}
					a.nav-link.choosed{
						color: $color-hover-menu;
					}
					a.nav-link:hover{
						color: $color-hover-menu;
					}
					>div{
						background-color: #0000004a;
						>a{
							color: white;
						}
						>a:hover{
							color: $color-hover-menu;
							background: none;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
/*class scroll navigation*/
nav.navbar.menu-fixed{
		padding: 0 0;
		background-color: $bg-menu;
		.container{
			a.navbar-brand.logo-fixed{
				color: $color-blue;
				font-family: $font-logo;
				font-size: $font-size-logo;
			}
		}
	}
/*css for header*/
header {
	background-image: url(../image/header-bg.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	.container{
		.text-intro{
			padding-top: 300px;
			padding-bottom: 200px;
			.text-greeting{
				font-size: 40px;
				font-style: italic;
				line-height: 40px;
				margin-bottom: 25px;
				font-family: $font-title;
				color: $color-white;
				position: relative;
				z-index: 2;
			}
			.intro-heading{
				font-size: 75px;
				font-weight: 700;
				line-height: 75px;
				margin-bottom: 50px;
				font-family: $font-menu;
				color: white;
				position: relative;
				z-index: 2;
			}
			a.btn-lg {
				font-size: 18px;
				font-weight: 700;
				padding: 20px 40px;
				border-radius: 3px;
				border-color:$color-blue;
				background-color: $color-blue;
				color: $color-white; 
				font-family: $font-menu;
				position: relative;
				z-index: 2;
				cursor: pointer;
			}
		}
	}
	#particles-js{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
/*end*/
/*css for block services*/
section#services{
	padding: 150px 0;
	.container{
		.row-title{
			.section-title{
				font-size: 40px;
				margin: 0 0 15px;
				font-family: $font-text;
				font-weight: 500;
				line-height: 1.1;
				color: $color-black;
			}
			.section-subtitle{
				font-weight: 400;
				font-size: 16px;
				font-style: italic;
				margin-bottom: 75px;
				font-family: $font-title;
			}
		}
		.row-item{
			>div{
				margin-bottom: 20px;

				.services-item{
					box-shadow: 0 0px 40px 1px rgba(188, 193, 198, 0.26);
					height: 100%;
					padding-top: 20px;
					transition: 0.3s;
					.services-icon{
						width: 80px;
						height: 80px;
						border: 1px solid #f1f1f1;
						border-radius: 999px;
						transition: 0.3s;
						i {
							font-size: 40px;
							line-height: 80px;
							color: $color-blue;
							transition: 0.3s;
						}
					}
					.services-content{
						h4{
							font-size: 1.5rem;
							margin: 15px 0;
						}
						p {
							font-family: $font-text;
							font-weight: 400;
							font-size: 1rem;
						}
					}
				}
				.services-item:hover{
					box-shadow: 0 10px 22px 10px rgba(27,38,49,.13);
					.services-icon{
						background-color: $color-blue;
						i{
							color: $color-white;

						}
					}

				}

			}
		}


	}
}
/*end*/
/*css for block portfolio*/
section#portfolio{
	width: 100%;
	overflow: hidden;
	padding: 150px 0;
	.container{
		.row-port-title{
			div{
				h2.port-title{
					font-size: 40px;
					margin: 0 0 15px;
					font-family: $font-text;
					font-weight: 500;
					line-height: 1.1;
					color: $color-black;
				}
				h3.port-sub-title{
					font-weight: 400;
					font-size: 16px;
					font-style: italic;
					margin-bottom: 75px;
					font-family: $font-title;
				}
			}

		}
		.row-port-item{
			div.port-item{
				margin: 0 auto 30px;
				max-width: 400px;

				>a {
					display: block;
					position: relative;
					overflow: hidden;		
					border-radius: 5px;
					button.btn{
						width: 30%;
						position: absolute;
						background-color: $color-blue;
						top: 80%;
						left: 50%;
						transform: translate(-50%,-50%);
						color: white;
						opacity: 0;
						visibility: hidden;
						z-index: 3;
						transition: 0.8s;
					}
					div.port-item-hover{

						width: 100%;
						height: 100%;
						background-color: $color-black;
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
						visibility: hidden;
						transition: 0.8s;
						z-index: 2;
					}
					img{
						transition: 0.8s;
					}
				}
				>a:hover {
					div.port-item-hover{
						opacity: 0.5;
						visibility: visible;	
					}
					button.btn{
						opacity: 1;
						visibility: visible;
						top: 50%;
					}
					img {
						transform: scale(1.1);
					}
				}
				.port-item-title{
					background-color: $color-white;
					padding: 25px;
					h4{
						font-size: 1.5rem;
						font-family: $font-text;
						font-weight: 500;
						line-height: 1.1;
					}
					p{	
						font-size: 16px;
						font-family: $font-title;
						font-style: italic;
						line-height: 1.75;
					}
				}
			}
		}

	}
}
/*css for block team*/
section#team{
	padding: 150px 0;
	.container{

		div.row-title{
			>div{
				h3.team-title{
					font-size: 40px;
					margin-top: 0;
					margin-bottom: 105px;
					font-family: $font-text;
				}
			}
		}
		div.row-content{
			.team-item{
				margin:0 auto 50px;
				padding: 0 40px;
				.team-item-img
				{
					height: 228px;
					position: relative;
					overflow: hidden;
					.team-item-img--bd{
						width: 228px;
						height: 228px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						border-radius: 999px;
						border-top: 7px solid $color-blue;
						border-bottom: 7px solid $color-blue;
						border-left: 7px solid $color-white;
						border-right: 7px solid $color-white;
						transition: 0.6s;
						z-index: 2;
					}

					>img{
						width: 225px;
						height: 225px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						border-radius: 999px;
						z-index: 1
					}
					a{
						position: absolute;
						bottom: -20px;
						left: 50%;
						transform: translateX(-50%);
						z-index: 3;
						cursor: pointer;
						transition: 0.6s;
						opacity: 0;
						visibility: hidden;
						img{
							max-width: 28px;
							max-height: 28px;

						}
					}


				}
				.team-item-img:hover {
						.team-item-img--bd{
							transform: translate(-50%,-50%) rotate(90deg) ;
						}
						a{
							bottom: 20px;
							opacity: 1;
							visibility: visible;
						}
					}
				.team-item-content{
					h4{
						margin-top: 25px;
						margin-bottom: 0;
						font-size: 1.5rem;
						font-family: $font-text;
						font-weight: 500;
						line-height: 1.1;
					}
					p{
						margin-top: 0;
						margin-bottom:1rem;
						line-height: 1.75;
						font-family: $font-text;
					}

				}
			}
		}
	}
}
/*css for block about & regard*/
section#about-regard{
	padding: 150px 0;
	.container{
		.row-title{
			div{
				h3{
					font-size: 40px;
					margin-top: 0;
					margin-bottom: 105px;
					font-weight: 500;
					line-height: 1.2;
					font-family: $font-text;
				}
			}
		}
		.row-content{
			.about{
				height: 100%;

			}
			.regard{
				padding: 50px 0 50px 15px;
				border-left: 1px solid gray;
				>div{
					padding-bottom: 30px;
					ol{
						li{
							background-color: $color-blue;
						}
					}
					div.carousel-inner{
						div.carousel-item{
							div.row{
								margin: 0 0;	
								img{
									width: 70px;
									height: 70px;
									border-radius: 50%;
									margin:0 auto;

								}
								.rg-content-title{
									h4{
										text-transform: capitalize;
									}
									p{
										text-align: center;
										text-transform: capitalize;
									}
								}
								>p{
									text-align: center;
								}
							}
						}
					}
				}

			}
		}
	}
}
/*css for block contact*/
section#contact{
	padding: 150px 0;
	background-image: url("../image/contact-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: $bg-menu;
	.container{
		>div.contact-title{
			margin-left: 0;
			margin-right: 0;
			h2{
					font-size: 40px;
					margin: 0 0 15px;
					font-family: $font-text;
					font-weight: 500;
					line-height: 1.1;
					color: $color-white;
			}
			h3{
				font-weight: 400;
					font-size: 16px;
					font-style: italic;
					margin-bottom: 75px;
					font-family: $font-title;
			}
		}
		>div.contact-content{
			>div.input-info{
				width: 100%;
				margin-right: 0;
				margin-left: 0;
				form{
					width: 100%;
					div.form-group{
						input.col-12.form-control{
							height: auto;
							padding: 20px;
							color: $color-black;
						}
						input.col-12.form-control::placeholder{
							text-transform: uppercase;
						}
						.warring{
							height: 25px;
							color:red;
							position: relative;
							top: 0px;
							left: 20px;
							line-height: 25px;
							transition: 0.4s;
							opacity: 0;
							visibility: hidden;
								display: inline-block;
						}
						.warring.check{
							left: 0px;
							opacity: 1;
							visibility: visible;
							margin-bottom: 25px;
						}
					}
				}
			}
			>div.input-mess{
				width: 100%;
				margin-right: 0;
				margin-left: 0;
				form{
					margin-bottom: 25px;
					width: 100%;
					padding-left: 0;
					padding-right: 0;
					div.form-group{
						height: 100%;

						textarea{
							height: 100%;
							min-height: 236px;
							max-height: 248px;
							
						}
						textarea::placeholder{
							text-transform: uppercase;
						}
						.warring{
							height: 25px;
							display: inline-block;
							color:red;
							position: relative;
							top: 0px;
							left: 10px;
							line-height: 25px;
							transition: 0.4s;
							opacity: 0;
							visibility: hidden;
						}
						.warring.check{
							left: 0px;
							opacity: 1;
							visibility: visible;
							margin-bottom: 25px;
						}
					}
				}
			}
		}
		>div.contact-submit{
			div{
				button{
					background-color: $color-blue;
					padding: 20px 40px;
					font-size: 18px;
					font-weight: 700;
					border-radius: 3px;
					color: $color-white;
					text-transform: uppercase;
					font-family: $font-menu;
				}
			}
		}
	}
}
/*css for modal of project */
div.port-modal-bg{
	width: 100vw;
	height: 100vh;
	background-color: #80808069;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow-y:scroll;
	opacity: 0;
	visibility: hidden;
	div.modal-wrapper{
		width: 70%;
		margin:80px 0;
		padding:25px 0;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		background-color: $color-white;
		border-radius: 5px;
		.modal-title{
			width: 90%;
			margin: 0 auto;
			display: block;
			h2{
				font-size: 3em;
			margin-bottom: 15px;
			}
			p{
				font-style: italic;
			}
		}
		.modal-content{
			width: 90%;
			margin: 0 auto 25px;
			display: block;
			border:none;
			>div.embed-responsive{
				max-width: 800px;
				margin: 0 auto;
				display: block;
			}
		}
	}
}
div.port-modal-bg.active{
	opacity: 1;
	visibility: visible;
}

/*import*/
@import 'medium-width.scss';
@import 'mobile-width.scss';