@media screen and (max-width: 1200px) {
	div.not-responsive#not-show{
		display: block;
		>div{
		}
	}
	
}
@media screen and (max-width: 576px){
	div.not-responsive#not-show{
		display: block;
		>div{
			h1{
				font-size: 40px;
			}
		}
	}
}