
    /* only home */
    #home{
        background: -webkit-gradient(linear, left top, left bottom, from(#F7F8FF), to(rgba(247, 248, 255, 0)));
        background: -o-linear-gradient(top, #F7F8FF 0%, rgba(247, 248, 255, 0) 100%);
        background: linear-gradient(180deg, #F7F8FF 0%, rgba(247, 248, 255, 0) 100%);
    }
    /* only university */
    #university #main{
        background: -webkit-gradient(linear, left top, left bottom, from(#F7F8FF), to(rgba(247, 248, 255, 0)));
        background: -o-linear-gradient(top, #F7F8FF 0%, rgba(247, 248, 255, 0) 100%);
        background: linear-gradient(180deg, #F7F8FF 0%, rgba(247, 248, 255, 0) 100%);
    }


    /* css for header */
    header{
        margin-top: 34px;
    }
    #navigation .nav-link{
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        color: #333333;
        padding: 0 30px 0 10px;
    }
    .signup-button{
        margin-right: 30px;
    }


    /* css for home */
    /* fixed backgroudn */
    .fixed-background{
        position: absolute;
        width: 615px;
        height: 615px;
        top: -165px;
        left: -110px;
        background: -o-linear-gradient(135deg, #F0F9FF 0%, rgba(227, 237, 244, 0) 100%);
        background: linear-gradient(315deg, #F0F9FF 0%, rgba(227, 237, 244, 0) 100%);
        border-radius: 50%;
        z-index: -1;
    }


    /* intro area */
    .title-intro{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
    }
    .sub-title-intro{
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    }
    .intro-list-tag{
        list-style: none;
    }
    .intro-list-tag .intro-tag-item{
        display: inline-block;
    }
    .intro-list-tag .intro-tag-item a{
        display: inline-block;
        padding: 8px 17px;
        border: 1px solid #DADADA;
        border-radius: 8px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        margin: 0 16px 16px 0;
        -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
        -o-transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
        transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
    }
    .intro-list-tag .intro-tag-item a:last-child{
        padding: 8px 20px;
    }
    .intro-tag-item a{
        color: rgba(51, 51, 51, 0.501557);
        text-decoration: none;
    }

    .intro-tag-item a:hover{
        color: #ffffff;
        background: #F28A4B;
        border-color: #F28A4B;
    }

    /* tag content area */
    #tag-content h6{
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 23px;
    }
    .tag-item{
        position: relative;
        height: 323px;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        margin-bottom: 29px;

    }
    .tag-item .tag-item-title{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px 24px;
        min-height: 110px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .tag-item-title h5{
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    .tag-item:hover{
        -webkit-transform: scale(1.06);
            -ms-transform: scale(1.06);
                transform: scale(1.06);
        -webkit-box-shadow: 0px 4px 20px rgba(63, 81, 181, 0.4);
                box-shadow: 0px 4px 20px rgba(63, 81, 181, 0.4)

    }
    .tag-item:hover .tag-item-title{
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 81, 181, 0)), to(#3F51B5));
        background: -o-linear-gradient(top, rgba(63, 81, 181, 0) 0%, #3F51B5 100%);
        background: linear-gradient(180deg, rgba(63, 81, 181, 0) 0%, #3F51B5 100%);
    }

    .view-more-tag{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #3F51B5;
        text-decoration: none;
    }



    /* Action css */
    #action{
        margin-top: 130px;
    }
    #action .container >div{
        background: #FFF9F7;
        border-radius: 8px;
        padding: 34px 0;

    }
    #action p{
        text-align: center;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 32px;
        color: #333333;
    }
    .action-title{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 60px;
        text-align: center;
        color: #F07867;
    }
    #action .action-register{
        margin: 24px 0 16px;
    }
    #action .action-login{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
    }
    .action-login a{
        color: #3653AC;
    }
    /* css for testimonial */
    .testimonial-head{
        padding: 110px 0;
        position: relative;
    }
    .testimonial-head:before{
        content: '';
        height: 100%;
        width: 100vw;
        position: absolute;
        top: 0;
        right: 20%;
        z-index: -1;
        background-color: #F9FAFF;
        display: block;
    }
    .testimonial-head h4{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;
        color: #333333;
    }
    .testimonial-head p{
        margin-bottom: 0;
        font-size: 18px;
        line-height: 32px;
        color: #666666;
    }
    .testimonial-head h4, .testimonial-head p{
        max-width: 460px;
    }
    .testimonial-list{
        position: absolute;
        left: 44.1%;
        right: 15px;
        top: 45px;
        bottom: -50px;
        width: auto;
        overflow: visible;
        -webkit-box-shadow: 0px 33px 30px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 33px 30px rgba(0, 0, 0, 0.05);

    }
    .testimonial-list .slick-list, .testimonial-list .slick-track{
        height: 100%;
    }
    .testimonial-item{
        background: #FFFFFF;
        -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        height: calc(100% - 25px);
        padding: 56px 32px 0;
        position: relative; 
        margin-top: 25px;
    }
    .testimonial-item p {
        font-size: 18px;
        line-height: 32px;
        color: #333333;
        margin-bottom: 32px;
        height: calc(100% - 115px);
    }
    .testimonial-item .quoute{
        position: absolute;
        top: -24px;
    }
    .testimonial-info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .testimonial-info >div{
        margin-left: 8px;
    }
    .testimonial-info p{
        margin: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
    }
    .testimonial-info span{
        margin: 0;
        font-size: 13px;
        line-height: 16px;
        color: #999999;
    }
    .view-testimonial-story{
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #3F51B5;
    }
    .control-testimonial{
        position: absolute;
        bottom: -22px;
        left: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .control-testimonial >div{
        width: 44px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        border-radius: 50%;
        background-color: #ECEFFF;
        color: #3F51B5;
        cursor: pointer;
    }
    .control-testimonial >div:first-child{
        margin-right: 12px;
    }
    /* end css for home */







    /* css for university */

    .university-header{
        text-align: center;
        padding: 64px 26px;
    }
    .university-header h2{
        font-family: Playfair Display;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
    }
    .university-header p{
        font-size: 16px;
        line-height: 20px;
        color: #666666;
    }

    .wrapper-filter{
        padding: 15px 0;
        background: #FFFFFF;
        border: 1px solid rgba(99, 130, 245, 0.3);
        -webkit-box-shadow: 0px 4px 30px rgba(63, 81, 181, 0.1);
                box-shadow: 0px 4px 30px rgba(63, 81, 181, 0.1);
        border-radius: 8px;
    }
    .wrapper-filter .filter-item{
        padding: 0 15px;
    }
    .wrapper-filter .filter-location{
        padding: 0 15px;
        border-left: 1px solid #C9D3FC;
        border-right: 1px solid #C9D3FC;

    }
    .filter-item label{
        font-weight: bold;
        font-size: 13px;
        line-height: 24px;
        text-transform: uppercase;
        color: #3F51B5;
        margin-bottom: 4px;
        display: block;
        text-align: left;
    }
    .filter-item select{
        border: none;
        outline: none !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        padding: 0 18px 0 0;
        width: 158px;
        height: 22px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
        -moz-appearance:none;
        -webkit-appearance:none;
        appearance:none;
        background: url("../img/ic_arrow.png") white no-repeat 100% !important; 
    }
    .university-list{
        margin-top: 80px;
    }
    .university-item{
        padding: 24px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
        border: 1px solid transparent;
        border-radius: 8px;
        margin-bottom: 30px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

    }
    .university-item:hover{
        border: 1px solid rgba(63, 81, 181, 0.2);
        -webkit-box-shadow: 0px 4px 20px rgba(63, 81, 181, 0.4);
                box-shadow: 0px 4px 20px rgba(63, 81, 181, 0.4);
        text-decoration: none;
    }
    .university-image-title img{
        margin-right: 24px;

    }
    .university-image-title h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #333333;
    }
    .university-info h6{
        margin: 12px 0 8px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #333333;
    }
    .university-info span{
        margin-left: 6px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
    }
    .favorite{
        position: absolute;
        top: -10px;
        right: 16px;
        font-size: 29px;
    }
    .favorite i{
        color: #F2F2F2;
    }
    .favorite.active i{
        color: #FACE55;
    }
    /* end css fir university */

    /* start css for university  detail*/
    .university-detail-head{
    padding: 32px;
    }
    .university-detail-head h2{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #333333;
        margin-top: 16px;
    }
    .university-info{
        margin-top: 24px;
    }
    /* .university-info h6{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;

        text-align: center;
        text-transform: uppercase;

        color: #3F51B5;
    } */
    .university-info p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

        color: #333333;
    }
    .menu-tab{
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;

    }
    #university-detail-tab{
        border: none;
    }
    #university-detail-tab .nav-link{
        border: none;
        padding: 16px 0;
        margin-right: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
    }
    #university-detail-tab .nav-link.active{
        border-bottom: 3px solid #3F51B5;
        color: #3F51B5;
        background-color:transparent;
    }
    .tab-content{
        margin: 32px 0 148px;
    }
    #tab-introduce p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
    .link-bottom-content{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
    }

    .collapse-btn{
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #3F51B5;
        padding:16px 0;
        border-bottom: 1px solid #F2F2F2;
    }
    .item-collapse:first-child .collapse-btn{
        padding: 0 0 16px 0;
    }
    .collapse-btn i{
        margin-right: 8px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .collapse-btn.collapsed i{
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg)
    }
    .content-list-collapse h6{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
    .content-list-collapse .item-collapse{
        -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
        background: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 8px;
        padding: 24px;

    }
    .collapse-btn-in-list{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #333333;
        text-align: left;
        padding: 0;
    }.collapse-btn-in-list:hover{
        color: #3F51B5;
    }
    .collapse-btn-in-list:not(.collapsed){
        color: #3F51B5;

    }
    .link-bottom-content a{
        color: #3F51B5;
    }



    /* css for profile */
    .header-profile{
        padding: 15px 0;
        background-color: #3653AC;
    }
    .header-profile-left .profile-info{
        margin-left: 50px;
        
    }
    .profile-info h6{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
    .profile-info h4{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 0;
    }
    .header-profile-right .btn-primary{
        margin-right: 30px;
    }

    .suggestion, .saved, .registered, .statistical{
        margin-top: 32px;
    }
    .suggestion h4, .saved h4, .registered h4, .statistical h4{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;
        color: #333333;
        margin-bottom: 23px;
    }
    .premium i{
        color: #F28A4B;
        margin-right: 5px;
    }

    .statistical-filter{
        list-style: none;
    }
    .statistical-filter .statistical-filter-item{
        display: inline-block;
    }
    .statistical-filter .statistical-filter-item a{
        display: inline-block;
        padding: 8px 17px;
        border: 1px solid #DADADA;
        border-radius: 8px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        margin: 0 16px 16px 0;
        -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
        -o-transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
        transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
    }
    .statistical-filter-item a{
        color: rgba(51, 51, 51, 0.501557);
        text-decoration: none;
    }

    .statistical-filter-item a:hover{
        color: #ffffff;
        background: #F28A4B;
        border-color: #F28A4B;
    }
    .statistical-content-item{
        background: #FFFFFF;
        -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 24px;
    }
    .statistical-content-item p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #666666;
    }
    .statistical-content-item h5{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #3653AC;
    }
    .content-registered-premium *{
        border: none !important;
        white-space: nowrap;
        
    }
    .content-registered-premium thead th{
        background-color: #F2F2F2;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: #999999;
    }
    .content-registered-premium .table-striped tbody tr:nth-of-type(odd){
        background-color: transparent;
    }
    .content-registered-premium .table-striped tbody tr:nth-of-type(even){
        background-color: #F6F8FF;
    }
    .content-registered-premium .link-view{
        color: #3653AC;
    }
    .modal-detail-content{
        padding: 24px;
        background: #FFFFFF;
        border-radius: 16px;
    }
    .modal-content h5{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        color: #333333;
    }
    .modal-detail-content .block-info span:first-child{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #666666;
        min-width: 110px;
    }
    .modal-detail-content .block-info span:last-child{ 
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
    }
    .block-list-btn{
        margin: 24px 0;
    }
    .block-list-btn a{
        margin-right: 25px;
    }
    .block-achievement h6{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: #666666;
    }
    .block-achievement div{
        background: #FAFAFA;
        border-radius: 8px;
        padding: 13px;
    }
    .block-achievement div p{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #666666;
    }
    .login-now{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
    .btn-register-wrapper{
        margin: 32px 0;
    }
    /* css for footer */
    #footer{
        margin-top: 80px;
        background: #333333;
        padding-top: 50px;
    }
    .list-link-footer{
        margin-bottom: 33px;
    }
    .list-link-footer h5{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #777777;
    }
    .list-link-footer ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .list-link-footer a{
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
    }
    .footer-bottom{
        padding: 18px 0;
        border-top: 1px solid #666666;
        
    }
    .footer-reserved p{
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 0;
        color: #666666;

    }
    .footer-social ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .footer-social ul li{
        display: inline-block;
    }
    .footer-social a{
        color: #98918E;
        margin-left: 10px;
    }




    /* responsive  */
    @media screen and (max-width: 1200px){
        #testimonial{
            overflow: hidden;
            padding-bottom: 30px;
        }
        .testimonial-list{
            position: static;
            max-width: 670px;
            margin: 0 auto;
            -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
                    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        }
        .testimonial-item{
            padding: 56px 32px 26px;
        }
        .testimonial-head {
            text-align: center;
            position: relative;
        }
        .testimonial-head h4, .testimonial-head p{
            max-width: 1200px;
        }
        .testimonial-head:before{
            right: -50vw;
            width: 200vw;
        }
        .control-testimonial{
            left: 50%;
            bottom: 20px;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
        #action{
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 992px){
        /* header */
        #navigation .nav-link{
            padding: 8px 0;
        }
        /* intro area */
        .title-intro{
            font-size: 32px;
            line-height: 48px;

        }
    }
    @media screen and (max-width: 768px){
        #testimonial .container{
            max-width: 720px;
        }
        /* university */
        .wrapper-filter{
            display: block !important;
            width: 285px;
            margin: 0 auto;
            padding: 0 !important;
        }
        .wrapper-filter >div{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            padding:15px !important;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .wrapper-filter >div label{
            margin-bottom: 0;
        }
        .wrapper-filter .filter-location{
            border-top: 1px solid #C9D3FC;
            border-bottom: 1px solid #C9D3FC;
            border-left: none;
            border-right: none;
            
        }
        #flex-only-md{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .header-profile-right{
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 620px){
        .testimonial-item {
            padding: 32px 32px 26px;
        }
        .view-testimonial-story{
            font-size: 13px;
        }
        .fixed-background{
            width: 80vw;
            height: 80vw;
        }
    }
    @media screen and (max-width: 575px){
        .signup-button{
            margin: 0 auto 10px;
        }
        .wrapper-testimonial-info{
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
        .view-testimonial-story{
            display: block;
            text-align: right;
            width: 100%; 
            margin-top: 5px;   
        }
        .collapse-btn-in-list{
            white-space: unset;
        }
        .header-profile-left img{
            max-width: 80px;
        }
        .header-profile-left .profile-info{
            margin-left: 10px;
        }
        .header-profile-right .btn-primary{
            margin-right: 10px;
        }
    }
