@media screen and (max-width: 1200px){
	section.explore{
		.ex-main{
			.ex-main-content{
				.ex-main-item{
					img{}
					h4{
						font-size: 20px;
					}
					button.btn{
						padding: 5px 15px;
						font-size: 14px;	
						i{
							padding-left: 10px;
							transition: 0.4s;
						}
						&:hover{
							i{
								transform: translateX(10px);
							}
						}
					}
				}
			}
		}
	} /*end section explore*/
}