@media screen and (max-width: 576px){
	main{
		header.row{
			.header-right{
				display: block;
				.cart{
					margin: 0;
					padding: 10px 0;
					text-align: center;
				}
				.info{
					padding: 10px 0;
					text-align: center;
					.account{
						padding-right: 22px;
						border-right: 2px solid gray;
						a{
							color: black;
							font-weight: 700;
						}
					}
					.search{
						i{
							display: none;
						}
					}
				}
			} /*end header right*/
		}/* end header*/
		section.explore{
			.ex-main{
				.ex-main-content{
					.ex-main-item{
						h4{
							font-size: 18px;

						}
						button.btn{
							padding: 8px 20px !important;
						}
					}
				}
			}
		}/* end section*/
	}/* end main*/
}