@media screen and (max-width: 992px){
	section.about-company{
		div.container{
			.ab-counter{
			top: 0;
			height: auto;
			margin-top: 20px;
				>div.row{
					height: auto;
					min-height: 100px;
					>div{}
					>div.col-4{
						width: 30%;
						text-align: center;
					}
					>div.col-8{
						text-align: center;
					}
				}
				>div.cases{
					box-shadow:none;
					border-top: 1px solid #8080802e;
					border-bottom: 1px solid #8080802e;
				}
			}
			/*end ab-counter*/
			.ab-title{
				>div.col-title{
					h2{
						font-size: 24px;
						text-align: center;
					}
					p{
						font-size: 18px;
						text-align: center;
					}

				}
				>div.col-title:nth-child(2){
						display: none;
				}
					
			}
		
		}
	}
	/*end about company*/
	section.get-start{
		padding: 50px 0;
		div.container{
			div.gs-title{
				h2{
					font-size: 24px; 
				}
			}
			button.gs-button{
				margin: 30px auto 0;
				font-size: 24px;
			}
		}
	}
	/*end get start*/
	section.within{
		div.container{
			div.within-content{
				div.within-tab-btn{
					ul{
						padding: 14px 0;
						margin-bottom: 40px;
						li{
							font-family: $fn-robo;
							font-size: 16px;
							font-weight: 700;
							text-transform: uppercase;
							color: #ffe5e5;
							padding: 8px 0;
						}
						li:nth-child(2){
							border-left: 1px solid #cf3c2f;
							border-right: 1px solid #cf3c2f;
						}
						li.active{
							color:$cl-black;
						}
					}
				} /* end tab-btn */
			}
		} /*end container*/
	}
	
}