@media screen and (max-width: 576px){
	header{
		height: 50px;
		div.container{
			nav.navbar{
				a{
					img.img-fluid{
						max-height: 25px;
					}
				}
			}
		}
	}
	/*end header*/
	div.main-slide{
		margin-top: 50px;
	}
	section.about-company{
		div.container{
			padding: 0 0;
			.ab-video{
				width: 100%;
			}
		} /*end container*/
	} 
	/*end section about-company*/
}