@media screen and (max-width: 768px){
	header.container-fluid{
		padding: 0;
		div.container{
			width: 100%;
			padding: 0;
			nav.navbar{
				a{
					img.img-fluid{
					}
				}
				button{
				}
				div.main-menu{
					ul{
						width: 100%;
						li{
							margin: 0;
							padding-right: 0;
							padding-left: 0;
							a{}
							>div.dropdown-menu{
								width: 80%;
								font-size: 7pt;
							}
							&:hover{
							};
						}

					}
				}
			} /*end nav*/
		} /*end container*/
	} /* end header*/
	section.as-seen{
		div.container{
			div.row{
				>div{
					p{
						padding: 50px 0;
						font-size: 18px;
						font-family: $fn-robo;
						font-weight: 400;
						color: $cl-black;
						line-height: 26px;
					}
					img.list-logo{
						margin-top: 25px;
					}
				} /*end div column*/
			} /*end row*/
		} /*end container*/
	}
	/*end section as-seen*/
	section.as-tab{
		padding: 70px 0;
		div.container{
			padding: 0;
			div.row{
				margin: 0;
				>div{
					img{
						max-width: 50px;
						padding: 5px 0;
					}
					p{
						font-family: $fn-robo;
						font-size: 18px;
						font-weight: 400;
						color: $cl-black;
					}
				}
			} /*end row*/
		} /*end container */
	}
	/*end section as-tab*/
	section.within{
		div.container{
			div.within-title{
				h4{
					font-size: 24px;
					line-height: 30px;
				}
				h2{
					padding: 35px 0;
					font-size: 46px;
				}

			}
			div.within-content{}
		} /*end container*/
	}
		/*end section with in*/
}